@model IEnumerable<Mahamesh.Models.ApplicantRegistration>

@{
    ViewBag.Title = "Index";
}
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/scroller/2.0.0/css/scroller.dataTables.min.css" rel="stylesheet" />
<style>
    .tableheader {
        background: #1a9b83 !important;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5.5px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .selected {
        background-color: palevioletred !important;
    }

    .formNotSubmitted {
        background-color: #f77f7f !important;
    }

    .ageBad {
        background-color: #ffd800 !important;
    }

    .componentBad {
        background-color: #c997dd !important;
    }

    .childBad {
        background-color: #acacac !important;
    }

    .photoBad {
        background-color: #8de2fe !important;
    }

    .aadharBad {
        background-color: #88b7af !important;
    }
</style>
<style type='text/css'>
    .my-legend .legend-title {
        text-align: left;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 90%;
    }

    .my-legend .legend-scale ul {
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
        float: left;
        list-style: none;
    }

        .my-legend .legend-scale ul li {
            font-size: 80%;
            list-style: none;
            margin-left: 0;
            line-height: 18px;
            margin-bottom: 2px;
        }

    .my-legend ul.legend-labels li span {
        display: block;
        float: left;
        height: 16px;
        width: 30px;
        margin-right: 5px;
        margin-left: 0;
        border: 1px solid #999;
    }

    .my-legend .legend-source {
        font-size: 70%;
        color: #999;
        clear: both;
    }

    .my-legend a {
        color: #777;
    }
</style>
<div class="container-fluid" style="margin-bottom:150px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" style="max-height:93px" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2">
        <div class="panel-heading panel-primary-2 text-center"><h4>Applicant's List</h4></div>
        <div class="panel-body">
            <div class="col-lg-12" style="background-color:#f5f5f5;margin-bottom:20px;padding-bottom:20px; ">

                <h4 class="text-center text-info">Filter Records</h4>
                <div class="col-lg-5 text-right" style="padding-right:50px">
                    Filter By:
                    <select id="ddlSearch" class="btn btn-primary dropdown-toggle" name="ddlSearch" type="button" data-toggle="dropdown">
                        <option value="Name">Applicant Name</option>
                        <option value="Aadhar">Aadhar Number</option>
                        <option value="Component">Component</option>
                        <option value="DistCode">District Code</option>
                        <option value="DistName">District Name</option>
                        <option value="Tahashil">Taluka Code</option>
                        <option value="TalukaName">Taluka Name</option>
                    </select>
                </div>
                <div class="col-lg-3"><input type="text" class="form-control" name="txtSearch" id="txtSearch" /></div>
                <div class="col-lg-3"> <input type="button" class="btn btn-primary btn-md" value="Filter" id="btnFilter" /></div>
            </div>
            <table id="tbl1" class="display table table-bordered table-striped table-responsive infinite-scroll" style="width:100%">
                <thead>

                    <tr class="tableheader">
                        <th width="2%">Sr. No.</th>
                        <th width="10%">Name</th>
                        <th width="8%"> Application No.</th>
                        <th width="8%">
                            District Name
                        </th>
                        <th width="10%">
                            Taluka Name
                        </th>
                        <th width="10%">
                            Village Name
                        </th>
                        <th width="5%">
                            District Code
                        </th>
                        <th width="7%"> Taluka Code</th>
                        <th width="8%">
                            Village Code
                        </th>
                        <th width="10%"> Aadhar Card No</th>
                        <th width="2%">
                            Component
                        </th>
                        <th style="display:none"></th>
                        <th style="display:none"></th>
                        <th style="display:none"></th>
                        <th style="display:none"></th>
                        <th style="display:none"></th>
                        <th style="display:none"></th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>
        </div>
        <div class="panel-footer">
            <div class='my-legend'>
                <div class='legend-title'>Improper Entries</div>
                <div class='legend-scale'>
                    <ul class='legend-labels'>
                        <li><span style='background:#f77f7f;'></span>Form Not Submitted</li>
                        <li><span style='background:#ffd800;'></span>Age not in permitted range (greater than 60 or less than 18)</li>
                        <li><span style='background:#c997dd;'></span>Incorrect Component Selection</li>
                        <li><span style='background:#acacac;'></span>No. of Child after 2001 greater than 2</li>
                        <li><span style='background:#8de2fe;'></span>Photo not uploaded</li>
                        <li><span style='background:#88b7af;'></span>Duplicate Aadhar</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/Content/Varsity/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.min.js"></script>


<script>

    $('#btnFilter').click(function () {
        $('#tbl1').DataTable().clear().destroy();
        var searchCriteria = $("#ddlSearch option:selected").val();
        var searchVal = $('#txtSearch').val().trim();
        $.ajax({
            type: 'GET',
            beforeSend: function () {
              $('.se-pre-con').show();
            },
            url: '@Url.Action("GetApplicantList", "ApplicantRegistrations")',
            dataType: 'json',
            data: { searchVil: searchCriteria, searchName: searchVal },
            success: function (result) {

                $('#tbl1 tbody').empty();
                $.each(result, function (i, item) {
                    var rows = "<tr>"
                        + "<td>" + (i + 1) + "</td>"
                        + "<td>" + item.ApplicationNumber + "</td>"
                        + "<td>" + item.ApName + "</td>"
                        + "<td>" + item.DistrictName + "</td>"
                        + "<td>" + item.TalukaName + "</td>"
                        + "<td>" + item.VilName + "</td>"
                        + "<td>" + item.Dist + "</td>"
                        + "<td>" + item.Tahashil + "</td>"
                        + "<td>" + item.VillageName + "</td>"
                        + "<td>" + item.AdharCardNo + "</td>"
                        + "<td>" + item.CompNumber + "</td>"
                        + "<td style='display:none'>" + item.FormSubmitted + "</td>"
                        + "<td style='display:none'>" + item.IsAgeProper + "</td>"
                        + "<td style='display:none'>" + item.IsChildCountProper + "</td>"
                        + "<td style='display:none'>" + item.IsAadharUnique + "</td>"
                        + "<td style='display:none'>" + item.IsComponentProper + "</td>"
                        + "<td style='display:none'>" + item.IsPhotoAvailable + "</td>"
                        + "<td><a class='btn btn-info' href='/ApplicantRegistrations/Details/" + item.Id + "'>Details</a></td>"
                        +  "<td><a class='btn btn-info' href='/ApplicantRegistrations/GenerateReceipt/" + item.Id + "'>Receipt</a></td>"

                        + "</tr>";
                    $('#tbl1 tbody').append(rows);

                });
                $('#tbl1').DataTable({
                  
                    dom: 'Bfrtip',
                    buttons: [
                        { extend: 'copyHtml5' },
                        { extend: 'excelHtml5'},
                        { extend: 'csvHtml5'},
                        { extend: 'pdfHtml5'},
                    ],
                    "paging": false,
                      sortable: true,
                    searching: true
                });
               
                $("tr").each(function () {
                      
                      var form_val = $(this).find("td:eq(11)").text();
                     
                      var age_val = $(this).find("td:eq(12)").text();
                      var child_val = $(this).find("td:eq(13)").text();
                         var aadhar_val = $(this).find("td:eq(14)").text();
                      var comp_val = $(this).find("td:eq(15)").text();
                      var photo_val = $(this).find("td:eq(16)").text();
                     // console.log(col_val + $(this).find("td:eq(2)").text());
                      if (form_val == 'false')
                      {
                          $(this).addClass('formNotSubmitted');
                          $(this).find("td:eq(18) a").hide();
                      }
                      else if (age_val == 'false') {
                          $(this).addClass('ageBad');
                      }
                      else if (child_val == 'false') {
                          $(this).addClass('childBad');
                      }
                      else if (comp_val == 'false') {
                          $(this).addClass('componentBad');
                      }
                     else if (photo_val == 'false') {
                          $(this).addClass('photoBad');
                      }
                      else if (aadhar_val == 'false') {
                          $(this).addClass('aadharBad');
                      }
                  });

            },
             complete: function () {
                // Show image container
                 $('.se-pre-con').hide();
                // $(".find-duplicates").duplifer();
            }
        });
    })
</script>
