
@{
    ViewBag.Title = "Distribution Breeding";
}


<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }
</style>

<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title"> Distribution of Ram and buck for Breeding</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <p> The Corporation has maintained sheep breed viz. Deccani & Madgyal and Osmanabadi Goat at farms. The improvied Rams and Bucks are produced at farms and supply to the Sheep & Goat Breeders under vaccines of Government schemes for improvement of local Sheep & Goat.</p>

            </div>
        </div>
    </div>
</div>
