
@{
    ViewBag.Title = "Index";
}
<div class="container body-content secParagraph" id="#maincontent">
    <section>
        <h4 class="text-center text-info" style="font-weight:600">Development Activity</h4>
        <div class="row col-lg-12">
            <h5>Distribution of Ram and buck for Breeding</h5>
            <p>The Corporation has maintained sheep breed viz. Deccani & Madgyal and Osmanabadi Goat at farms. The improvied Rams and Bucks are produced at farms and supply to the Sheep & Goat Breeders under vaccines of Government schemes for improvement of local Sheep & Goat.</p>
            <hr />
            <h5>Machine Sharing Programme</h5>
            <p>The Corporation is propogating shearing of sheep by machine. The corporation is providing machine shearing facilities to the nominal cost sheep breedrs by charges Rs. 1.50/- per sheep.</p>
        </div>
    </section>
</div>
