
@{
    ViewBag.Title = "Index";
}
<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }
    .heading-green{
        margin-bottom:10px;
    }
</style>

<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h3 class="panel-title">Development Activity</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="heading-green"> <h5 class="text-center">Distribution of Ram and buck for Breeding</h5></div>
                <p class="text-justify">The Corporation has maintained sheep breed viz. Deccani & Madgyal and Osmanabadi Goat at farms. The improvied Rams and Bucks are produced at farms and supply to the Sheep & Goat Breeders under vaccines of Government schemes for improvement of local Sheep & Goat.</p>
                <hr />
                <div class="heading-green">
                    <h5 class="text-center">Machine Sharing Programme</h5>
                </div>
                <p class="text-justify">The Corporation is propogating shearing of sheep by machine. The corporation is providing machine shearing facilities to the nominal cost sheep breedrs by charges Rs. 1.50/- per sheep.</p>
                <hr />
                <div class="heading-green">
                    <h5 class="text-center">Organization of Sheep & Goat Farmers Meet</h5>
                </div>
                <p class="text-justify">	The Corporation is organizing Shepherds Melava at vaccines places and the providing information regarding Sheep & Goat rearing, Breeding, Feeding and management. The corporation has published pamphlet regarding vaccines sheeps implementing on the corporation.  </p>
                <hr />
                <div class="heading-green">
                    <h5 class="text-center">Production of Fodder, Seeds and Grasses</h5>
                </div>
                <p class="text-justify">The corporation is producing fodder seed and Grasses and supply to the Sheep & Goat Breedars and Farmers under vaccines Government schemes. </p>
                <hr />
                <div class="heading-green">
                    <h5 class="text-center">Sheep & Goat rearing Trainings</h5>
                </div>
                <p class="text-justify">To Create self amploment in rural area of the state. The Corporation is conductings 3 days Sheep & Goat Managment training at our 10 Sheep & Goat developments farms training fees Rs. 500/- at farms and Rs. 2000/- at pune.</p>
                <hr />
                <div class="heading-green">
                    <h5 class="text-center">Wool Weving Traning</h5>
                </div>
                <p class="text-justify">The Corporation is providing wool waving traning at wool utilazation centre pune and aslo wevining traning centre at Ranjani, Dist-Sangali and Padegaon, Dist-Aurangabad. The corporation is producing woollen articals auch as Blankets, Chaddar, carpet, Ghongadi, Satranji, Namada and other at there traninig centre.</p>
            </div>
        </div>
    </div>
</div>