
@{
    ViewBag.Title = "Index";
}
<div class="container body-content secParagraph" id="#maincontent">
    <section>
        <h4 class="text-center text-info" style="font-weight:600">Development Activity</h4>
        <div class="row col-lg-12">
            <h5>Distribution of Ram and buck for Breeding</h5>
            <p>The Corporation has maintained sheep breed viz. Deccani & Madgyal and Osmanabadi Goat at farms. The improvied Rams and Bucks are produced at farms and supply to the Sheep & Goat Breeders under vaccines of Government schemes for improvement of local Sheep & Goat.</p>
            <hr />
            <h5>Machine Sharing Programme</h5>
            <p>The Corporation is propogating shearing of sheep by machine. The corporation is providing machine shearing facilities to the nominal cost sheep breedrs by charges Rs. 1.50/- per sheep.</p>
            <hr />
            <h5>Organization of Sheep & Goat Farmers Meet</h5>
            <p>	The Corporation is organizing Shepherds Melava at vaccines places and the providing information regarding Sheep & Goat rearing, Breeding, Feeding and management. The corporation has published pamphlet regarding vaccines sheeps implementing on the corporation.  </p>
            <hr />
            <h5>Production of Fodder, Seeds and Grasses</h5>
            <p>The corporation is producing fodder seed and Grasses and supply to the Sheep & Goat Breedars and Farmers under vaccines Government schemes. </p>
            <hr />
            <h5>Sheep & Goat rearing Trainings</h5>
            <p>To Create self amploment in rural area of the state. The Corporation is conductings 3 days Sheep & Goat Managment training at our 10 Sheep & Goat developments farms training fees Rs. 500/- at farms and Rs. 2000/- at pune.</p>
            <hr />
            <h5>Wool Weving Traning</h5>
            <p>The Corporation is providing wool waving traning at wool utilazation centre pune and aslo wevining traning centre at Ranjani, Dist-Sangali and Padegaon, Dist-Aurangabad. The corporation is producing woollen articals auch as Blankets, Chaddar, carpet, Ghongadi, Satranji, Namada and other at there traninig centre.</p>
        </div>
    </section>
</div>
