
@{
    ViewBag.Title = "Key Officials";
}

<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }
</style>

<div class="container body-content" id="#maincontent" style="margin-top:20px; margin-bottom: 150px;">
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h3 class="panel-title">@Resource.Lang.Keyofficials</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                @Html.Raw(Server.HtmlDecode(Resource.Lang.KeyOfficialsText))
                @*<table class="table table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <th class="text-center">
                        अ.क्रं.
                    </th>
                    <th class="text-center">नाव</th>
                    <th class="text-center">
                        पद
                    </th>
                    <th class="text-center">दूरध्वनी क्रंमांक</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">१
                    </td>
                    <td>
                        <p>डॉ. महेश बनसोडे</p>
                    </td>
                    <td>
                        <p>व्यवस्थापकीय संचालक</p>
                    </td>
                    <td>
                        <p>०२०-२५६५७११२</p>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        २
                    </td>
                    <td>
                        <p>डॉ. गजानन सांगोले</p>
                    </td>
                    <td>
                        <p>महाव्यवस्थापक</p>
                    </td>
                    <td>
                        <p>०२०-२५६५७११२</p>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                      ३
                    </td>
                    <td>
                        <p>डॉ. सचिन टेकाडे</p>
                    </td>
                    <td>
                        <p>सहाय्यक संचालक</p>
                    </td>
                    <td>
                        <p>०२०-२५६५७११२</p>
                    </td>
                </tr>
                <tr class="text-center">
                    <td>
                        ४
                    </td>
                    <td>
                        <p>श्री. देवराम झांजरे</p>
                    </td>
                    <td>
                        <p>वित्तीय सल्लागार व प्रमुख लेखाअधिकारी</p>
                    </td>
                    <td>
                        <p>०२०-२५६५७११२</p>
                    </td>
                </tr>
                <tr class="text-center">
                    <td>
                        ५
                    </td>
                    <td>
                        <p>श्री. रमेश कदम</p>
                    </td>
                    <td>
                        <p>प्रशासकीय अधिकारी</p>
                    </td>
                    <td>
                        <p>०२०-२५६५७११२</p>
                    </td>
                </tr>
            </tbody>
        </table>*@
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#org').addClass('active');
        //for demo
        //$('#demo').addClass('active');
        //for sale
        //$('#sale').addClass('active');
    });
</script>