
@{
    ViewBag.Title = "Ministers";
}


<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }
</style>
<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h3 class="panel-title">Ministers</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <table class="table table-bordered table-responsive table-striped" style="font-size:13px">
                    <thead>
                        <tr>
                            <th>
                                Sr.No.
                            </th>
                            <th class="text-center">Minister Name</th>
                            <th class="text-center">
                                Office Address
                            </th>
                            <th class="text-center">Phone No.</th>
                            <th class="text-center">Email Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1.</td>
                            <td>
                                <p style="font-size:15px;font-weight:bold">Shri. Mahadev Jagannath Jankar</p>
                                <p>Hon'ble Minister, Animal Husbandry,</p>
                                <p> Dairy Development and Fisheries Development</p>
                            </td>
                            <td><p>Madam Cama Road, Hutatma Rajguru Chowk, </p><p>Nariman Point, Churchgate,</p><p> Mumbai, Maharashtra 400032, India</p></td>
                            <td>022- 22042314, 22042315 </td>
                            <td>
                                min.adf1@maharashtra.gov.in
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">2.</td>
                            <td>
                                <p style="font-size:15px;font-weight:bold">Shri.Arjun Panditrao Khotkar</p>
                                <p> Hon'ble Minister for State , Textiles,</p>   <p> Animal Husbandry, Dairy Development and Fisheries Development</p>
                            </td>
                            <td><p>Madam Cama Road, Hutatma Rajguru Chowk, </p><p>Nariman Point, Churchgate,</p><p> Mumbai, Maharashtra 400032, India</p></td>
                            <td>022-22872415</td>
                            <td>
                                stmin.adfntextiles@maharashtra.gov.in
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#org').addClass('active');
        //for demo
        //$('#demo').addClass('active');
        //for sale
        //$('#sale').addClass('active');
    });
</script>