
@{
    ViewBag.Title = "Object of Organization";
}

<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }

</style>
<div class="container body-content secParagraph" id="#maincontent">
    <section>
        <h4 class="text-center text-info" style="font-weight:600">Objects of Organization</h4>
        <div class="row col-lg-12">
            <p style="text-align:justify">
                1) To establish, extend to reorganized sheep Breeding Farms of Exotic / Local / Cross-breed
                sheep in the State.
            </p>
            <p style="text-align:justify">
                2) To multiply such units at location convenient to sheep rising.
            </p>
            <p style="text-align:justify">3) To import, export & sell the sheep & sheep products.</p>
            <p style="text-align:justify">4) To take crossbreeding programme for up gradation of local sheep. </p>
            <p style="text-align:justify">
                5) To establish, or reorganize sheep extension centres in collaboration with the State
                Government
            </p>   <p style="text-align:justify">
                6) To finance, promote, establish & administer & assist institutions run by Government, Co-
                operatives.
            </p>
        </div>
    </section>
</div>
