
@{
    ViewBag.Title = "Object of Organization";
}

<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }
</style>
<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Objects of Organization</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <table class="table table-bordered table-responsive table-striped">
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>
                               To establish, extend to reorganized sheep Breeding Farms of Exotic / Local / Cross-breed
                                sheep in the State.
                            </td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>
                             To multiply such units at location convenient to sheep rising.
                            </td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>
                                To import, export & sell the sheep & sheep products.
                            </td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>
                                 To take crossbreeding programme for up gradation of local sheep.
                            </td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>
                                 To establish, or reorganize sheep extension centres in collaboration with the State
                                Government
                            </td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>
                                 To finance, promote, establish & administer & assist institutions run by Government, Co-
                                operatives.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
