
@{
    ViewBag.Title = "Office Bearers";
}

<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }
</style>

<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h3 class="panel-title">Office Bearers</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <table class="table table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Sr. No.
                            </th>
                            <th class="text-center">Name</th>
                            <th class="text-center">
                                Office Address
                            </th>
                            <th class="text-center">Phone No.</th>
                            <th class="text-center">Email Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>
                                <p>Dr. Mahesh Bapurao Bansode,</p>
                                <p>Managing Director</p>
                                <p>Punyashlok Ahilyadevi Sheli Va Mendhi Vikas Mahamandal Ltd. Pune-16</p>
                            </td>
                            <td><p>Mendhi Farm,</p><p>Gokhalenagar,</p><p> Pune, Maharashtra 411016, India</p></td>
                            <td>020- 25657112</td>
                            <td>
                                mdsagpune@gmail.com
                            </td>
                        </tr>

                    </tbody>
                </table>
                <hr />
                <div class="heading">
                    <h4 class="text-center">Head Office Staff</h4>
                </div>
                <table class="table table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Sr. No.
                            </th>
                            <th class="text-center">Name</th>
                            <th class="text-center">
                                Designation
                            </th>
                            <th class="text-center">Phone No.</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1.</td>
                            <td>
                                Dr. Mahesh Bansode
                            </td>
                            <td>Managing Director</td>
                            <td>020-25657112</td>

                        </tr>
                        <tr>
                            <td class="text-center">2.</td>
                            <td>
                                Dr. G. W. Sangole
                            </td>
                            <td>General Manager</td>
                            <td>020-25657112</td>

                        </tr>
                        <tr>
                            <td class="text-center">3.</td>
                            <td>
                                Dr. S. H. Tekade
                            </td>
                            <td>Assistant Director</td>
                            <td>020-256571122</td>

                        </tr>

                        <tr>
                            <td class="text-center">4.</td>
                            <td>
                                Shri. D. D. Zanjare
                            </td>
                            <td>Financial Advisor and Chief Account Officer </td>
                            <td>020-25657112</td>

                        </tr>
                        <tr>
                            <td class="text-center">5.</td>
                            <td>
                                Shri. R. T. Kadam
                            </td>
                            <td>Administrative Officer</td>
                            <td>020-25657112</td>

                        </tr>
                    </tbody>
                </table>
                <hr />
                <div class="heading">
                    <h4 class="text-center">Farm Managers Contact Information</h4>
                </div>
                <table class="table table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Sr. No.
                            </th>
                            <th class="text-center">Name</th>
                            <th class="text-center">
                                Designation
                            </th>
                            <th class="text-center">Phone No.</th>
                            <th class="text-center">Mobile No.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1.</td>
                            <td>
                                Dr. Gajanan Sangole
                            </td>
                            <td>Farm Manager, Padegaon</td>
                            <td class="text-center">0240-2370449</td>
                            <td class="text-center">8007333227</td>
                        </tr>
                        <tr>
                            <td class="text-center">2.</td>
                            <td>
                                Dr. Veeraj Borse
                            </td>
                            <td>Farm Manager, Pune</td>
                            <td class="text-center">020-25657112</td>
                            <td class="text-center">9890194006</td>
                        </tr>
                        <tr>
                            <td class="text-center">3.</td>
                            <td>
                                Dr. Priyanka Tonde
                            </td>
                            <td>Farm Manager, Bilakhed</td>
                            <td class="text-center">02589-222457</td>
                            <td class="text-center">7709300121</td>
                        </tr>

                        <tr>
                            <td class="text-center">4.</td>
                            <td>
                                Dr. Sachin Dadas
                            </td>
                            <td>Farm Manager, Ranjani</td>
                            <td class="text-center">02341-244222</td>
                            <td class="text-center">8141147677</td>
                        </tr>
                        <tr>
                            <td class="text-center">5.</td>
                            <td>
                                Dr. Popat Karande
                            </td>
                            <td>Farm Manager, Mahud</td>
                            <td class="text-center">02187-202300</td>
                            <td class="text-center">9545467589</td>
                        </tr>
                        <tr>
                            <td class="text-center">6.</td>
                            <td>
                                Shri. Pandurang Yedage
                            </td>
                            <td>Farm Manager, Dahiwadi</td>
                            <td class="text-center">02165-204480</td>
                            <td class="text-center">7719075491</td>
                        </tr>
                        <tr>
                            <td class="text-center">7.</td>
                            <td>
                                Dr. Bhushan Sadar
                            </td>
                            <td>Farm Manager, Pohara</td>
                            <td class="text-center">0721-2020523</td>
                            <td class="text-center">8793451030</td>
                        </tr>
                        <tr>
                            <td class="text-center">8.</td>
                            <td>
                                Dr. Balaji Kandhare
                            </td>
                            <td>Farm Manager, Bondri</td>
                            <td class="text-center">---</td>
                            <td class="text-center">9665787295</td>
                        </tr>
                        <tr>
                            <td class="text-center">9.</td>
                            <td>
                                Dr. Rahim Shaikh
                            </td>
                            <td>Farm Manager, Ambajogai</td>
                            <td class="text-center">02446-247239</td>
                            <td class="text-center">8975364673</td>
                        </tr>
                        <tr>
                            <td class="text-center">10.</td>
                            <td>
                                Dr. Vikram Salave
                            </td>
                            <td>Farm Manager, Mukhed</td>
                            <td class="text-center">02461-202022</td>
                            <td class="text-center">9405494770</td>
                        </tr>
                        <tr>
                            <td class="text-center">11.</td>
                            <td>
                                Dr. Akshay Ghatare
                            </td>
                            <td>Farm Manager, Tirth</td>
                            <td class="text-center">02471-259066</td>
                            <td class="text-center">8975131626</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#org').addClass('active');
        //for demo
        //$('#demo').addClass('active');
        //for sale
        //$('#sale').addClass('active');
    });
</script>