
@{
    ViewBag.Title = "Various Committees";
}

<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }

</style>

<div class="container body-content secParagraph" id="#maincontent">
    <section>
        <h4 class="text-center text-info" style="font-weight:600">Various Committees</h4>
        <div class="row col-lg-12">
            <p style="text-align:justify"></p>
        </div>
    </section>
</div>
