@model Mahamesh.Models.MediaGalleryModel

@{
    ViewBag.Title = "Index";
}

<style>
    .figure {
        border: 1px solid #eeeaea;
        border-radius: 5px;
        margin: 1%;
    }
    /*#mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }*/

    .img-margin {
        margin-left: 15%;
    }

    .mu-title {
        padding-top: 5px;
        background: border-box #37C190;
        border: 1px solid #37C190;
        color: #fff;
        border-radius: 3px;
    }

    .container {
        padding-left: 0px !important;
    }
</style>
<div class="container body-content" id="#maincontent" style="margin-top:20px; margin-bottom: 150px;">
    <div class="panel panel-primary-3" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading"><h5>Media Folders</h5></div>
        <div class="panel-body">
            <div class="row">
                <section id="mu-service">
                    <div class="mu-service-area">
                        <div class="heading text-center"><h5>Picture Gallery</h5></div>
                        <div class="row text-center" style="padding-top:30px">
                            @foreach (var item in Model.FolderList.Where(x => x.MediaType == "Pictures"))
                            {
                                <figure class="figure col-xs-2 text-center">
                                    <img src="~/Images/FOLDERS.png" alt="image_folder" class="img-responsive img-margin" height="100" width="100" />
                                    <figcaption class="figure-caption text-center" style="padding-top:5px;">
                                        <strong><a href="@Url.Action("PictureGallery", "Media", new {  @folder = item.FolderName})"> @item.FolderName</a></strong>
                                    </figcaption>
                                </figure>

                            }

                        </div>
                        <hr />
                        <div class="heading text-center"><h5>Video Gallery</h5></div>
                        <div class="row" style="padding-top:30px">
                            @foreach (var item in Model.FolderList.Where(x => x.MediaType == "Videos"))
                            {
                                <figure class="figure col-xs-2 text-center">
                                    <img src="~/Images/videos.png" height="100"  class="img-responsive img-margin"  alt="video_folder" width="100" />
                                    <figcaption class="figure-caption text-center" style="padding-top:5px; text-overflow:ellipsis">
                                        <strong><a href="@Url.Action("VideoGallery", "Media", new {  @folder = item.FolderName})"> @item.FolderName</a></strong>

                                    </figcaption>
                                </figure>

                            }

                        </div>
                    </div>
                    <!-- end gallery content -->

                </section>
            </div>
        </div>
    </div>
</div>
<script src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#media').addClass('active');
        //for demo
        //$('#demo').addClass('active');
        //for sale
        //$('#sale').addClass('active');
    });
</script>