
@{
    ViewBag.Title = "Index";
}

<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h3 class="panel-title">RTI</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="heading">
                    <h5 class="text-center">The Particulars of its Oraganization, Functions and Duties</h5>
                </div>
                <div>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Name of the Organisation</td>
                            <td>
                                Punyashlok ahilyadevi Maharashtra Mendhi Va Sheli Vikas
                                Mahamandal Ltd.
                            </td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Mendhi farm, Gokhale Nagar, Pune 16</td>
                        </tr>
                        <tr>
                            <td>Telephone No.</td>
                            <td>020 - 25657112/ 25667895</td>
                        </tr>
                        <tr>
                            <td>Working Hrs</td>
                            <td>10.00 am to 5.45 pm</td>
                        </tr>
                        <tr>
                            <td>E Mail ID</td>
                            <td>mdsagpune@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Head of the Department      </td>
                            <td>Dr. M. B. Bansode, Managing Director</td>
                        </tr>
                        <tr>
                            <td>Weekly Holidays</td>
                            <td>Sundays, Second & Fourth Saturdays & official holidays</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

