
@{
    ViewBag.Title = "Audited Reports";
}

<link href="/Content/Varsity/ui.css" rel="stylesheet">
<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Audited Reports</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-danger">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">
                                    <a href="~/Documents/AuditedReports/Annual Report 2016-2017.pdf">Annual Report 2016-2017.pdf</a>
                                </h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
       
            </div>
        </div>
    </div>
</div>

