
@{
    ViewBag.Title = "List of Breeds Available";
}

<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h3 class="panel-title">List of Breeds Available</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <table class="table table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Sr. No.</th>
                            <th class="text-center">Farm Name</th>
                            <th class="text-center">Sheep</th>
                            <th class="text-center">Goat</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>1.</td>
                            <td>
                                Ranjani,Tal. Kavthemahankal, Dist. Sangali
                            </td>
                            <td>Madgyal</td>
                            <td>Osmanabadi</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>
                                Mahud,Tal.Sangola, Dist. Solapur
                            </td>
                            <td>Madgyal</td>
                            <td>Osmanabadi</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>
                                Tirth,Tal.Tulajapur Dist. Osmanabad
                            </td>
                            <td>--</td>
                            <td>Osmanabadi</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>
                                Dahiwadi ,Tal.Man,Dist.Satara
                            </td>
                            <td colspan="2">
                                <table class="table table-bordered table-responsive table-striped">
                                    <tbody>
                                        <tr><td style="padding-right:27px;">Madgyal   </td><td>Osmanabadi</td></tr>
                                        <tr><td>Lonand   </td><td>Sirohi</td></tr>
                                        <tr><td>  --   </td><td>Sangamneri</td></tr>
                                    </tbody>
                                </table>
                            </td>
                            @*<td><table class="table table-bordered table-responsive"><tr><td>Osmanabadi</td></tr><tr><td>Sirohi</td></tr><tr><td>Sangamneri</td></tr></table></td>*@
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>
                                Bilakhed,Tal.Chalisgaon,Dist. Jalgaon
                            </td>
                            <td>Sangamneri</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>
                                Padegaon Tal.Aurangabad,Dist. Aurangabad
                            </td>
                            <td colspan="2">
                                <table class="table table-bordered table-responsive">
                                    <tbody><tr><td>Sangamneri</td><td>Sangamner</td></tr><tr><td>--</td><td>Osmanabadi</td></tr></tbody>
                                </table>
                            </td>
                            @*<td>Sangamner</td>*@
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>
                                Mukhed,Tal. Mukhed,Dist.Nanded
                            </td>
                            <td>Deccani</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>
                                Ambajogai,Tal. Ambajogai,Dist.Beed
                            </td>
                            <td>--</td>
                            <td>Osmanabadi</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>
                                Pohara,Tal.Amravati, Dist. Amravati
                            </td>
                            <td>--</td>
                            <td>Osmanabadi</td>
                        </tr>
                       
                        <tr>
                            <td>10.</td>
                            <td>
                                Bondri,Tal.Ramtek, Dist.Nagpur
                            </td>
                            <td colspan="2">
                                <table class="table table-bordered table-responsive">
                                    <tbody><tr><td style="padding-right:34px;">--</td><td>Local</td></tr><tr><td>--</td><td>Berari</td></tr></tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
