
@{
    ViewBag.Title = "Breeding Information";
}
<div class="container body-content" id="#maincontent" style="margin-top:20px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">
                BREEDING POLICY FOR SHEEP AND GOAT
                DEPARTMENT OF AH, GOVT. OF MAHRASHTRA
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="heading-green"><h4 style="text-align:center">Breeding Policy For Goat</h4></div>
                <p class="text-justify">
                    Breeding policy for goats primarily aims at increased meat
                    production for meeting not only its local demand but also to explore
                    the export avenues. At the same time, goat milk is also important in
                    rural economy. This will also act as an added impetus to make the
                    rural goat farming more sustainable. Hence, on this background
                    desired genetic improvement amongst the goat population will help in
                    reaping the benefits of dual purpose breeds through the use of
                    identified breeds. Priority for this purpose will be given to selective
                    breeding/up gradation of the recognized local indigenous breeds like
                    Osmanabadi and Sangamneri. Efforts will be made for identifying the
                    local indigenous goat breeds through rigorous phenotypic
                    characterization. Besides using these local indigenous breeds, a
                    strategy will be adopted to evolve sturdy goat, which would sustain and
                    thrive in the heavy rainfall areas. Through up gradation of the
                    identified sturdy goat and after finalizing desired phenotypic
                    characters, such goat will be got registered with NBAGR as a specific
                    breed and will be used for genetic up gradation of the local goat in
                    heavy rainfall areas. Exotic/Indigenous dual purpose goat breeds with
                    twinning trait will also be considered for improvement of nondescript
                    goats through either importation or locally fetching suitable material
                    on experimental basis.
                </p>
                <hr />
                <div class="heading">
                    <h5 style="text-align:center">AI in Goat</h5>
                </div>
                <p class="text-justify">
                    To bring about desired genetic improvement in the local goats by using
                    indigenous/exotic germplasm, assisted reproductive techniques will be
                    effectively used. A.I. technology being supposedly a convenient tool for
                    expanding the outreach of genetic improvement programme, will be
                    adopted on controlled basis for this purpose. However, considering the
                    low gestation period and reproductive life span in goat and also the
                    other possible implications of use of artificial insemination technology
                    in goat, natural service will obviously continue to be the major strategy
                    for genetic up-gradation in goat. However, in order to hasten the
                    process of genetic improvement in does by preferred use of fresh semen
                    will be started on controlled basis in selected areas. The sets of bucks to
                    be used for semen production will be analyzed cytogenetically viz.
                    karyotyping etc. It would be ensured that the bucks will be subjected to
                    field performance recording (FPR) trials. The results thus obtained will
                    qualify them for further use under genetic improvement programme.
                    Such bucks will be procured from State Agricultural Universities,
                    MAFSU, NGOs, Breeders’ Associations as well as from the stock owned by
                    the PunyashloakAhilayadeviSheliVaMendhiVikasMahamandal, Pune.
                    After reviewing various experiments regarding artificial insemination
                    in does, in due course of time, further strategy for its wide spread use
                    will be decided.
                </p>
                <hr />
                <div class="heading">
                    <h5 style="text-align:center">
                        Marketing strategies for goat meat
                    </h5>
                </div>
                <p class="text-justify">
                    It will be based on
                    Designing, promoting and encouraging APMC market like trade
                    models in private, co-operative as well as corporate sectors, ensuring the
                    trade of live animals (goats) at these trade models on live weight basis so
                    as to fetch remunerative price to the producers vis-a vis ensuring
                    affordable price to the buyers.
                    Ensuring availability of clean and hygienic meat to the consumers
                    and safe guarding public health.Ensuring adoption of the desired bio
                    waste disposal management system associated with present practices of wet
                    slaughter.
                    In order to have a sound marketing strategy in place and for its
                    effective implementation as well as for gaining export-competitiveness, a
                    suitable system will be put in place in due course of time.
                    Establishment of modern and ISO standard small ruminant slaughter
                    houses will be promoted under PPP model in the metros for ensuring
                    development of goat meat industry ascertaining end to end solutions for
                    availability of clean and hygienic meat to the society.
                    IT based information support will be made available for exploring
                    and availing market opportunities to the entrepreneurs in the trade of
                    goats. The Market Development & Intelligence Cell being established in
                    Commissionerate M.S. Pune will be entrusted with this activity.
                </p>
                <hr />
                <div class="heading">
                    <h5 style="text-align:center">
                        Promoting dual purpose goat breeds (for meat and milk production)
                    </h5>
                </div>
                <p class="text-justify">
                    Emphasis will be laid on research-oriented promotion of goats for meat
                    and milk production by introducing suitable/improved dual-purpose
                    breeds of goats and multiplying them subsequently. MAFSU, State
                    Agriculture Universities (S.A.U.) and PunyashlokaAhilyadevi
                    Maharashtra MendhiVaSheliVikasMahamandal, Pune will put in cohesive
                    efforts for propogation of such dual purpose breeds. Strategically, for
                    genetic improvement in goats, superior indigenous genetic material will
                    be used on priority basis. Besides, use of improved /exotic germplasm will
                    also be permitted in consonance with the approved policy of GoI in context
                    to import of genetic material. At field level, for selecting elite milkergoats,
                    the system of organizing milk competitions will be put in place.
                    Breeding of thus selected elite milker goats will be undertaken on pilot
                    basis at the farms of Corporation, SAUs & MAFSU. Buck Shows will be
                    organized for selection of elite males to be used for breeding. Alternative
                    possible use of goat milk in consideration of its medicinal value will also
                    be explored.
                </p>
                <hr />
                <div class="heading">
                    <h5 style="text-align:center">
                        Role of SHGs (of breeder-farmers) in development of goats-
                    </h5>
                </div>
                <p class="text-justify">
                    The self help groups of goat breeders/ farmers will be encouraged to
                    undertake goat breeding activity and in carrying out genetic
                    improvement in goats.
                </p>
            </div>
            <hr />
            <hr />
            <div class="row">
                <div class="heading-green">
                    <h4 style="text-align:center">
                        Breeding Policy For Sheep
                    </h4>
                </div>
                <p class="text-justify">
                    Breeding policy for sheep primarily aims at increased meat
                    production for meeting not only its local demand but also to explore the
                    export avenues. Hence, on this background impending genetic
                    improvement of the breedable sheep will help in reaping the benefits of
                    meat purpose breeds, through the use of identified breeds. Priority for
                    genetic improvement will be given through selective breeding/ up
                    gradation of the local non descript sheep population. Extensive use of
                    Deccani breed of sheep will be sought for this purpose. Besides this, possible
                    use of newly identified breed namely Madgyal from Jath, Dist. Sangli will
                    also be explored for genetic upgradation of non-descript sheep in extended
                    home tract. For selection of elite rams (to be used for breeding),
                    organization of Ram Shows will be encouraged and promoted.
                    To increase the prolificacy and productivity in sheep, genetic up
                    gradation will be achieved by using superior germplasm, restricting to
                    nondescript types in adherence to the guidelines issued by NBAGR from
                    time to time.
                    Explorative efforts will be triggered for improvement in various
                    desirable genetic traits on experimental/pilot basis viz. prolificacy/
                    fecundity, meat production, disease resistance and milk production, at
                    organized farms only, identified by the Government. For this purpose
                    possibility of using the superior germplasm of known indigenous breeds
                    found in other states for the respective traits will be considered.
                    5
                    It will be ensured that, the migratory sheep flocks will be provided all
                    time and efficient health cover facilities by the institutions of animal
                    husbandry department.
                </p>
                <hr />
                <div class="heading">
                    <h5 style="text-align:center">
                        AI in Sheep
                    </h5>
                </div>
                <p class="text-justify">
                    To bring about desired genetic improvement in the local sheep by
                    using indigenous germplasm, assisted reproductive techniques will be
                    effectively used. A.I. technology being one of the tools for expanding the
                    outreach of genetic improvement programme will be adopted on
                    controlled basis for this purpose. However, considering the low gestation
                    period and reproductive life span in sheep and also the other possible
                    implications of use of artificial insemination technology in sheep, natural
                    service will continue to be the strategy for genetic up-gradation in sheep.
                    However, in order to hasten the process of genetic improvement in sheep
                    through assisted reproductive techniques, Artificial Insemination in ewes
                    will be started on controlled basis in selected areas using fresh semen. The
                    sets of Rams to be used for semen production will be analyzed
                    cytogenetically viz. karyotyping etc. It would be ensured that the Rams
                    will be subjected to field performance recording (FPR) trials. The results
                    thus obtained will qualify them for further use under genetic improvement
                    programme. Such rams will be procured from State Agricultural
                    Universities, MAFSU, NGOs, Breeders’ Associations as well as from the stock
                    owned by the PunyashloakAhilayadeviMendhiVaSheliVikasMahamandal,
                    Pune. After review of various experiments regarding Artificial
                    Insemination in ewes, in due course of time, further strategy for its wide
                    spread use will be decided.
                </p>
                <hr />
                <div class="heading">
                    <h5 style="text-align:center">
                        Marketing Strategies for Sheep Meat
                    </h5>
                </div>
                <p class="text-justify">
                    It will be based on:
                <p>
                    1. Designing, promoting and encouraging APMC market like trade
                    models in private, co-operative as well as corporate sectors, ensuring the
                    trade of live animals (sheep) at these trade models on live weight basis so
                    as to fetch remunerative price to the producers vis-a vis ensuring
                    affordable price to the buyers.
                </p>
                <p>
                    2. Ensuring availability of clean and hygienic meat to the consumers
                    and safe guarding public health.
                </p>
                <p>
                    3. Ensuring adoption of the desired bio waste disposal management
                    system associated with present practices of wet slaughter.
                </p>
                <p>
                    4. In order to have a sound marketing strategy in place and for its
                    effective implementation as well as for gaining export-competitiveness, a
                    suitable system will be put in place in due course of time.
                </p>                <p>
                    5. Establishment of modern and ISO standard small ruminant slaughter
                    houses will be promoted under PPP model in the metros for ensuring
                    development of sheep meat industry ascertaining end to end solutions for
                    availability of clean and hygienic meat to the society.
                </p>
                <p>
                    6. IT based information support will be made available for exploring and
                    availing market opportunities to the entrepreneurs in the trade of goats.
                    The Market Development & Intelligence Cell being established in
                    Commissionerate M.S. Pune will be entrusted with thisactivity.
                </p>

                <hr />
                <div class="heading">
                    <h5 style="text-align:center">
                        >Establishment of Breeders Association for Indigenous Sheep & Goats
                    </h5>
                </div>
                <p class="text-justify">
                    Emphasis will be laid on research-oriented promotion of goats for meat
                    and milk production by introducing suitable/improved dual-purpose
                    breeds of goats and multiplying them subsequently. MAFSU, State
                    Agriculture Universities (S.A.U.) and PunyashlokaAhilyadevi
                    Maharashtra MendhiVaSheliVikasMahamandal, Pune will put in cohesive
                    efforts for propogation of such dual purpose breeds. Strategically, for
                    genetic improvement in goats, superior indigenous genetic material will
                    be used on priority basis. Besides, use of improved /exotic germplasm will
                    also be permitted in consonance with the approved policy of GoI in context
                    to import of genetic material. At field level, for selecting elite milkergoats,
                    the system of organizing milk competitions will be put in place.
                    Breeding of thus selected elite milker goats will be undertaken on pilot
                    basis at the farms of Corporation, SAUs & MAFSU. Buck Shows will be
                    organized for selection of elite males to be used for breeding. Alternative
                    possible use of goat milk in consideration of its medicinal value will also
                    be explored.
                </p>
                <hr />
                <div class="heading-green">
                    <h4 style="text-align:center">
                        Establishment of Breeders Association for Indigenous Sheep & Goats
                    </h4>
                </div>
                <p class="text-justify">
                    For effective implementation of the policy on the development of sheep &
                    goats, awareness will be created to establish breeders’ associations for
                    indigenous breeds of sheep & goats. These associations will be entrusted
                    with a much needed assignment / responsibility of conservation and
                    multiplication of their breeds in the home tracts as well as the extended
                    tracts of breeding. The associations shall be helped out so as to make them
                    sound & consistently functional through need based monetary aid and
                    technical assistance. Since conservation of the breed is multi-dimensional
                    process involving breeding, feeding, management, health cover etc.
                    incorporating the collaborative approach of all the concerned so as to
                    achieve the conservation and genetic improvement process simultaneously
                    is necessary. Efforts will be made to identify as well as redefine the
                    breeding tracts and extended breeding tracts/ home tracts of the
                    renowned indigenous sheep & goat breeds of the state. It would be ensured
                    that in these identified tracts, pure line breeding and selective breeding
                    using the superior rams/ bucks of the same breeds will be continued to be
                    carried out strategically. However, suitable methodology will be worked
                    out on scientific lines, for introduction of different breed in these
                    identified breeding tracts/ adjoining areas, for which conscious decision
                    would be taken only after considering the merits as well as limitations in
                    specific areas.
                    Academic institutes in the state shall take care of the research and
                    analysis on relevant parameters aimed for the development of sheep and
                    goats befitting to particular areas/regions and the evolved technology
                    will be implemented for the benefit of the results.
                    Efforts will be made for recognition of the identified and identifiable
                    breeds of both the species by NBAGR.
                    PunyashloakAhilaya Devi MendhiVaSheliVikasMahamandal, Pune;
                    shall be responsible to maintain farms for production of nucleus flocks of
                    selected breeds; organize Breeder-Farmers and Breeder’s Association for
                    production of stock to be distributed under its programmes and under its
                    plan schemes by suitable strategy of buy back. It may act as supplier of
                    nucleus flocks to such Breeder-Farmers and Breeder’s Associations for
                    multiplication.
                    PunyashloakAhilaya Devi MendhiVaSheliiVikasMahamandal, Pune;
                    MAFSU, Nagpur and Animal Science Division of State Agriculture
                    Universities shall be the designated agencies responsible for conservation
                    of native breeds of sheep and goat with element of public-sector
                    investment.
                </p>
            </div>
        </div>
    </div>
</div>

