
@{
    ViewBag.Title = "DeptGuidelinesGR";
}
<link href="/Content/Varsity/ui.css" rel="stylesheet">
<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Department Guidelines G.R.</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-danger">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">
                                    <a target="_blank" href="~/Documents/GR/४ था वेतन आयोग मंजूरी.pdf">४ था वेतन आयोग मंजूरी.pdf</a>
                                </h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-success">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">  <a  target="_blank" href="~/Documents/GR/५व्या वेतन आयोग मंजूरी.pdf">५ व्या वेतन आयोग मंजूरी.pdf</a></h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-warning">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">  <a target="_blank"  href="~/Documents/GR/६वा वेतन आयोग मंजूरी.pdf">६ वा वेतन आयोग मंजूरी.pdf</a></h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-danger">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h6 class="title">
                                    <a target="_blank"  href="~/Documents/GR/">Est of Corporation GR 1978.pdf</a>
                                </h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-success">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap" style="padding-top:5px;">
                                <h6 class="title">  <a target="_blank"  href="~/Documents/GR/Guidelines  40 2  RKVY-Mahamandal.pdf">Guidelines 40 2 RKVY-Mahamandal.pdf</a></h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-warning">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap" style="padding-top:3px;">
                                <h6 class="title">  <a target="_blank"  href="~/Documents/GR/Transfer of Sheep Breeding farms to the Corporation Incomplete construction works on the farms_Date 31.03.1980.pdf">Transfer of Sheep Breeding farms to the Corporation Incomplete construction works on the farms_Date 31.03.1980.pdf</a></h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-danger">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">
                                    <a target="_blank" href="~/Documents/GR/बोंद्री प्रकल्प हस्तांतरण.pdf">बोंद्री प्रकल्प हस्तांतरण.pdf</a>
                                </h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-success">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap" style="padding-top:3px;">
                                <h6 class="title">  <a target="_blank"  href="~/Documents/GR/महामंडळाचे अधिकृत भागभांडवल रु. ५.०० कोटी वरुन रु. ६.०० कोटी करण्याबाबत_दि. ३१.१०.२०१२.pdf">महामंडळाचे अधिकृत भागभांडवल रु. ५.०० कोटी वरुन रु. ६.०० कोटी करण्याबाबत_दि. ३१.१०.२०१२.pdf</a></h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-warning">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">  <a target="_blank"  href="~/Documents/GR/महामंडळाच्या नावात बदल.pdf">महामंडळाच्या नावात बदल.pdf</a></h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-danger">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">
                                    <a target="_blank"  href="~/Documents/GR/महामंडळास हस्तांतरित मेष पैदास प्रक्षेत्रे.pdf">महामंडळास हस्तांतरित मेष पैदास प्रक्षेत्रे.pdf</a>
                                </h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-success">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">  <a target="_blank"  href="~/Documents/GR/राजे यशवंतराव होळकर महामेष योजना.pdf">राजे यशवंतराव होळकर महामेष योजना.pdf</a></h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->

            </div>
        </div>

    </div>
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Mafsuarth J.R.</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-danger">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">
                                    <a  target="_blank" href="~/Documents/GR/Mafsuarth J.R/1.pdf">1.pdf</a>
                                </h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-success">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">
                                    <a target="_blank"  href="~/Documents/GR/Mafsuarth J.R/2.pdf">2.pdf</a>
                                </h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-warning">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">     
                                <a target="_blank"  href="~/Documents/GR/Mafsuarth J.R/3.pdf">3.pdf</a></h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-danger">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h6 class="title">
                                    <a target="_blank"  href="~/Documents/GR/Mafsuarth J.R/4.pdf">4.pdf</a>
                                </h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-success">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap" style="padding-top:5px;">
                                <h6 class="title">
                                    <a target="_blank"  href="~/Documents/GR/Mafsuarth J.R/5.pdf">5.pdf</a>
                                </h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-warning">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">  <a target="_blank"  href="~/Documents/GR/Mafsuarth J.R/6.pdf">6.pdf</a></h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-warning">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap" style="padding-top:3px;">
                                <h6 class="title">      
                                <a target="_blank"  href="~/Documents/GR/Mafsuarth J.R/7.pdf">7.pdf</a></h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->

                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-danger">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">
                                    <a target="_blank"  href="~/Documents/GR/Mafsuarth J.R/8.pdf">8.pdf</a>
                                </h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-success">
                                    <i class="fa fa-file white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap" style="padding-top:3px;">
                                <h6 class="title">      
                                <a target="_blank"  href="~/Documents/GR/Mafsuarth J.R/9.pdf">9.pdf</a></h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->

            </div>
        </div>

    </div>
</div>
