
@{
    ViewBag.Title = "Time-Table";
}

<div class="container body-content" id="#maincontent" style="margin-bottom: 150px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h5 class="text-center">Time-Table</h5>
        </div>
        <div class="panel-body">
            <div class="row">
                <table class="table table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Activity</th>
                            <th>From Date</th>
                            <th>To Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Receipt of Application	</td>
                            <td>28th August 2019 10.30 am	</td>
                            <td>
                                4th September 2019 11.59 pm
                            </td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Preparation of Preliminary Beneficiary List	</td>
                            <td>5th September 2019 	</td>
                            <td>
                                12th September 2019

                            </td>
                        </tr>
                        <tr>
                           <td>3.</td>
                            <td>Upload Documents by Applicants Selected in Primary List	</td>
                            <td>13th September 2019	</td>
                            <td>
                                17th September 2019 </td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Scrutiny By LDO	</td>
                            <td>18th September 2019	</td>
                            <td>
                                23rd September 2019
                            </td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Scrutiny by DAHO	</td>
                            <td>24th September 2019	</td>
                            <td>
                                28th September 2019

                            </td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>Scrutiny and Preparation of Final List of Beneficiary by DDC	</td>
                            <td>30th September 2019	</td>
                            <td>
                                5th October 2019

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

