
@{
    ViewBag.Title = "User Manual";
}
<link href="/Content/Varsity/ui.css" rel="stylesheet">

<div class="container body-content" id="#maincontent" style="margin-bottom: 150px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">

        <div class="panel-body">
            <div class="row">
                <div class="heading">
                    <h5 class="text-center">User Manual</h5>
                </div>
                <article class="box">
                    <figure class="itemside">
                        <div class="aside align-self-center">
                            <span class="icon-wrap icon-md round bg-success-1">
                                <i class="fa fa-file-video-o white"></i>
                            </span>
                        </div>
                        <figcaption class="text-wrap">
                            <h5 class="title">
                                <a target="_blank" accesskey=" " href="https://youtu.be/tuj3OyTBv_0f">Mahamesh Yojana Android App User Manual Video</a>
                            </h5>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
                <article class="box">
                    <figure class="itemside">
                        <div class="aside align-self-center">
                            <span class="icon-wrap icon-md round bg-danger-1">
                                <i class="fa fa-video-camera white"></i>
                            </span>
                        </div>
                        <figcaption class="text-wrap">
                            <h5 class="title">
                                <a target="_blank" accesskey=" " href="https://youtu.be/I_j_Oyi8sgM">Mahamesh Yojana Web Application User Manual Video</a>
                            </h5>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div>
        </div>
    </div>
</div>

