
@{
    ViewBag.Title = "Time-Table";
}

<div class="container body-content" id="#maincontent" style="margin-bottom: 150px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3); font-size:15px;">
        <div class="panel-heading panel-primary-2">
            <h4 class="text-center">राजे यशवंतराव होळकर महामेष योजने अंतर्गत अर्ज मागविणे व लाभधारक निवड बाबत सुधारित वेळापत्रक</h4>
        </div>
        <div class="panel-body">
            <p class="text-info text-center">राजे यशवंतराव होळकर महामेष योजने अंतर्गत दिनांक २८/०८/२०१९ ते दिनांक ०४/०९/२०१९ या कालावधीमध्ये ऑनलाइन अर्ज मागविण्यात आले होते, परंतु अर्ज करण्याच्या कालावधी मध्ये दिनांक ०७/०९/२०१९ पर्यन्त मुदतवाढ दिल्यामुळे खालील प्रमाणे सुधारित वेळापत्रक निश्चित करण्यात आलेले आहे. </p>
            <div class="row">
                @*<table class="table table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Activity</th>
                    <th>From Date</th>
                    <th>To Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Receipt of Application	</td>
                    <td>28th August 2019 10.30 am	</td>
                    <td>
                        4th September 2019 11.59 pm
                    </td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Preparation of Preliminary Beneficiary List	</td>
                    <td>5th September 2019 	</td>
                    <td>
                        12th September 2019

                    </td>
                </tr>
                <tr>
                   <td>3.</td>
                    <td>Upload Documents by Applicants Selected in Primary List	</td>
                    <td>13th September 2019	</td>
                    <td>
                        17th September 2019 </td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Scrutiny By LDO	</td>
                    <td>18th September 2019	</td>
                    <td>
                        23rd September 2019
                    </td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Scrutiny by DAHO	</td>
                    <td>24th September 2019	</td>
                    <td>
                        28th September 2019

                    </td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Scrutiny and Preparation of Final List of Beneficiary by DDC	</td>
                    <td>30th September 2019	</td>
                    <td>
                        5th October 2019

                    </td>
                </tr>
            </tbody>
        </table>*@
                <table class="table table-bordered table-responsive table-striped" style="font-size:15px !important;">
                    <thead>
                        <tr>
                            <th>अ. क्र.</th>
                            <th>प्रक्रिया</th>
                            <th>पासून</th>
                            <th>पर्यन्त</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>१.</td>
                            <td>
                                अर्जदारांनी ऑनलाइन अर्ज
                                करण्याचा कालावधी
                            </td>
                            <td>दिनांक २८/०८/२०१९</td>
                            <td>
                                दिनांक ०७/०९/२०१९
                            </td>
                        </tr>
                        <tr>
                            <td>२.</td>
                            <td>
                                जिल्हा पशुसंवर्धन
                                उपआयुक्त यांचे
                                अध्यक्षतेखाली जिल्हा
                                निवड समिति मार्फत
                                प्राथमिक लाभधारक
                                निवड
                            </td>
                            <td>दिनांक ०९/०९/२०१९</td>
                            <td>
                                दिनांक १४/०९/२०१९
                            </td>
                        </tr>
                        <tr>
                            <td>३.</td>
                            <td>प्राथमिक निवड झालेल्या लाभधारकांनी कागदपत्रे अपलोड करावयाचा कालावधी</td>
                            <td>प्राथमिक निवड झाल्यापासून </td>
                            <td>
                                दिनांक २१/०९/२०१९
                            </td>
                        </tr>
                        <tr>
                            <td>४.</td>
                            <td>प्राथमिक निवड झालेल्या लाभधारकांनी अपलोड केलेल्या कागदपत्रांची पशुधन विकास अधिकारी (विस्तार) यांनी करावयाची छाननी </td>
                            <td>दिनांक २३/०९/२०१९  </td>
                            <td>
                                दिनांक २८/०९/२०१९
                            </td>
                        </tr>
                        <tr>
                            <td>५.</td>
                            <td>जिल्हा पशुसंवर्धन अधिकारी यांचे मार्फत कागदपत्रांची छाननी</td>
                            <td>दिनांक ३०/०९/२०१९</td>
                            <td>
                                दिनांक ०५/१०/२०१९
                            </td>
                        </tr>
                        <tr>
                            <td>६.</td>
                            <td>जिल्हा पशुसंवर्धन उपआयुक्त यांचे अध्यक्षतेखाली जिल्हा निवड समिती मार्फत कागदपत्रांची पडताळणी व त्यानुसार अंतिम निवड यादी घोषित करणे</td>
                            <td>दिनांक ०७/१०/२०१९</td>
                            <td>
                                दिनांक १२/१०/२०१९
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

