
@{
    ViewBag.Title = "Mahamesh Yojana Highlights";
}
<link href="https://fonts.googleapis.com/css?family=Martel+Sans|Sura&display=swap" rel="stylesheet">

<style type="text/css">
    .btn-group1 button {
        background: #2c80c7;
        border: 1px solid #2c80c7;
        margin-bottom: 5px;
        padding: 5px 17px;
        cursor: pointer;
        width: 100%;
        display: block;
    }

    .collapsed {
        background: #2c80c7 !important;
        border: 1px solid #2c80c7 !important;
    }

    table, h3, h4 {
        font-family: 'Arial Unicode MS', serif;
    }
    /*Dashboard Tiles*/
    .grid {
        /* Grid Fallback */
        display: flex;
        flex-wrap: wrap;
        /* Supports Grid */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 1em;
    }

    .panel-title {
        font-family: Calibri;
        font-weight: 800;
    }

    .module {
        /* Demo-Specific Styles */
        display: inherit;
        align-items: center;
        justify-content: center;
        height: 160px;
        /* Flex Fallback */
        margin-left: 5px;
        margin-right: 5px;
        flex: 1 1 200px;
        color: white !important;
        padding: 35px 10px;
        text-align: center;
    }

        .module a {
            color: white !important;
        }
    /* If Grid is supported, remove the margin we set for the fallback */
    @@supports (display: grid) {
        .module {
            margin: 0;
        }
    }

    .table > tbody > tr > td {
        font-size: 16px !important;
    }

    .tableheader {
        background: #1a9b83 !important;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .tableheader2 {
        background: #2c80c7 !important;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .table-striped2 > tbody > tr:nth-of-type(odd) {
        background-color: #c6e2ff;
    }

    p {
        margin: 0 !important;
    }
</style>
<div class="container body-content" id="#maincontent" style="margin-bottom: 20px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">

        <div class="panel-body">
            <div class="row">
                <div class="heading-green">
                    <h5 class="text-center">Mahamesh Yojana 2019-2020 Highlights</h5>
                </div>
                <hr />
                <div class="btn-group1">
                    <button data-toggle="collapse" class="btn btn-primary-3" data-target="#demo1">
                        <h5 style="font-weight:bold;text-align:left">घटक क्रमांक- १</h5>
                    </button>
                    <div id="demo1" class="collapse">
                        @*<h3 class="text-center text-primary"><strong>घटक क्रमांक- १</strong></h3>*@
                        <h4 class="text-center">कायमस्वरूपी एका ठिकाणी राहून मेंढीपालन करण्याकरिता पायाभूत सोई – सुविधेसह २० मेंढया + १ मेंढानर असा मेंढीगट ७५% अनुदानावर वाटप करणे <strong>(स्थायी)</strong></h4>
                        <h4 class="text-center">या घटकामध्ये समाविष्ट बाबी</h4>
                        <table class="table table-responsive table-striped table-bordered">
                            <tbody>
                                <tr class="tableheader">
                                    <td class="text-center">
                                        <p>अ क्रं</p>
                                    </td>
                                    <td class="text-center">
                                        <p>बाब</p>
                                    </td>
                                    <td class="text-center">
                                        <p>संख्या</p>
                                    </td>
                                    <td class="text-center">
                                        <p>दर (रू.)</p>
                                    </td>
                                    <td class="text-center">
                                        <p>गटाची एकूण किंमत (रु)</p>
                                    </td>
                                    <td class="text-center">
                                        <p>शासनाचे अनुदान (रु)</p>
                                        <p>७५%</p>
                                    </td>
                                    <td class="text-center">
                                        <p>लाभधारक हिस्सा (रु)</p>
                                        <p>२५%</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="text-center">
                                        <p>१</p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td rowspan="2">
                                        <p>पशुधन खरेदी</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२० मेंढया</p>
                                    </td>
                                    <td class="text-right">
                                        <p>८०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१६००००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१२००००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>४००००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>१ मेंढानर</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१००००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१००००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>७५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>२</p>
                                    </td>
                                    <td>
                                        <p>शेड बांधकाम</p>
                                    </td>
                                    <td>
                                        <p>२१ प्रौढ मेंढ्यासाठी प्रत्येकी १० चौ. फुट प्रमाणे २१० चौ. फू. आणि २० कोकरांसाठी प्रत्येकी ५ चौ. फू प्रमाणे १०० चौ. फुट असे एकूण ३१० चौ. फुट बांधकाम</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. २५०/- प्रती चौ. फुट</p>
                                    </td>
                                    <td class="text-right">
                                        <p>७७५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५८१२५/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१९३७५/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>३</p>
                                    </td>
                                    <td>
                                        <p>मोकळ्या जागेस कुंपण</p>
                                    </td>
                                    <td>
                                        <p>२१ प्रौढ मेंढ्यासाठी प्रत्येकी २० चौ. फुट प्रमाणे ४२० चौ. फू. आणि २० कोकरांसाठी प्रत्येकी ५ चौ. फू प्रमाणे १०० चौ. फुट असे एकूण ५२० चौ. फुट बांधकाम</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. १००/- प्रती चौ. फुट</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५२०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३९०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१३०००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>४</p>
                                    </td>
                                    <td>
                                        <p>खाद्याची व पिण्याच्या पाण्याची भांडी</p>
                                    </td>
                                    <td>
                                        <p>२० मेंढया व १ मेंढानर गटाकरिता</p>
                                    </td>
                                    <td>
                                        <p>-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१००००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>७५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>५</p>
                                    </td>
                                    <td>
                                        <p>जंतनाशक, कीटकनाशक औषधे व खनिज विटा</p>
                                    </td>
                                    <td>
                                        <p>२०+ १ गटाकरिता</p>
                                    </td>
                                    <td>
                                        <p>-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>६</p>
                                    </td>
                                    <td>
                                        <p>पशुधनाचा विमा सेवाशुल्कासह</p>
                                    </td>
                                    <td>
                                        <p>२०+ १ गटाकरिता</p>
                                    </td>
                                    <td>
                                        <p>पशुधनाच्या किंमतीवर &nbsp;४ % + सर्व्हिस टॅक्स</p>
                                    </td>
                                    <td class="text-right">
                                        <p>८५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>६३७५/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२१२५/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>७</p>
                                    </td>
                                    <td>
                                        <p>चारा बियाणे व बहुवार्षिक प्रजातीचे ठोंबे/ बेने खरेदी तसेच अझोला व मुरघास तयार करणे</p>
                                    </td>
                                    <td>
                                        <p>२० मेंढया व १ मेंढानर गटाकरिता</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>११०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>८२५०/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२७५०/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>८</p>
                                    </td>
                                    <td>
                                        <p>प्रशिक्षण</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <p><strong>एकूण किंमत २०+ १ गटाकरिता</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>&nbsp;-</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>&nbsp;-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>३</strong><strong>,३३,०००/-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>२</strong><strong>,४९,७५०/-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>८३</strong><strong>,२५०/-</strong></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="text-success title-text"><strong>(टीप:- वरील तक्त्यामधील अनुक्रमांक २ ते ५ बाबीवरील संपूर्ण&nbsp; खर्च&nbsp; लाभधारकांनी प्रथम स्वत: करावयाचा आहे.)</strong></h5>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary-3" data-target="#demo2">
                        <h5 style="font-weight:bold;text-align:left">घटक क्रमांक- २</h5>
                    </button>
                    <div id="demo2" class="collapse">
                        @*<h3 class="text-center text-primary"><strong>घटक क्रमांक- २</strong></h3>*@
                        <h4 class="text-center">स्थलांतर पद्धतीने मेंढीपालन करण्याकरिता पायाभूत सोई &ndash; सुविधेसह २० मेंढया + १ मेंढानर असा मेंढीगट ७५% अनुदानावर वाटप करणे <strong>(स्थलांतरीत)</strong></h4>
                        <h4 class="text-center">या घटकामध्ये समाविष्ट बाबी</h4>
                        <table class="table table-responsive table-striped2 table-bordered">
                            <tbody>
                                <tr class="tableheader2">
                                    <td class="text-center">
                                        <p><strong>अ</strong> <strong>क्रं</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>बाब</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>संख्या</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>दर</strong><strong>&nbsp; (</strong><strong>रू</strong><strong>.</strong><strong>)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>गटाची एकूण किंमत (रु)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>शासनाचे अनुदान (रु)</strong></p>
                                        <p><strong>७५%</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>लाभधारक हिस्सा (रु)</strong></p>
                                        <p><strong>२५%</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="text-center">
                                        <p>१</p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td rowspan="2">
                                        <p>पशुधन खरेदी</p>
                                    </td>
                                    <td>
                                        <p>२० मेंढया</p>
                                    </td>
                                    <td class="text-right">
                                        <p>८०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१६००००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१२००००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>४००००</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>१ मेंढानर</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१००००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१००००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>७५००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२५००</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>२</p>
                                    </td>
                                    <td>
                                        <p>तंबू, सूती वाघर, स्थलांतरणाच्या वेळी साहित्य वाहतूक करण्याकरिता वाहतूक पिशव्या, फायबर ची बादली, खाद्याचे व पिण्याच्या पाण्याची भांडी आणि इतर साहित्य</p>
                                    </td>
                                    <td>
                                        <p>२०+ १ गटाकरिता</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१५०००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>११२५०</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३७५०</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>३</p>
                                    </td>
                                    <td>
                                        <p>जंतनाशक, कीटकनाशक औषधे व खनिज विटा</p>
                                    </td>
                                    <td>
                                        <p>२०+ १ गटाकरिता</p>
                                    </td>
                                    <td>
                                        <p>-&nbsp;</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२०००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१५००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५००</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>४</p>
                                    </td>
                                    <td>
                                        <p>पशुधनाचा विमा सेवाशुल्कासह</p>
                                    </td>
                                    <td>
                                        <p>२०+ १ गटाकरिता</p>
                                    </td>
                                    <td>
                                        <p>पशुधनाच्या किंमतीवर &nbsp;४% + सर्व्हिस टॅक्स</p>
                                    </td>
                                    <td class="text-right">
                                        <p>८५००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>६३७५</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२१२५</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>५</p>
                                    </td>
                                    <td>
                                        <p>मेंढ्या चारण्यासाठी कुरण भाड्याने घेणे किंवा चारा विकत घेणे</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;२०+ १ गटाकरिता</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-&nbsp;</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५०००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३७५०</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१२५०</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>६</p>
                                    </td>
                                    <td>
                                        <p>प्रशिक्षण</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२०००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१५००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५००</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <p>एकूण किंमत २०+ १ गटाकरिता</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>२</strong><strong>,०२,५००</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>१</strong><strong>,५१,८७५</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>५०</strong><strong>,६२५</strong></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="text-info title-text">
                            <strong>(टीप:- वरील तक्त्यामधील अनुक्रमांक २, ३ व ४ &nbsp;&nbsp;या बाबीवरील संपूर्ण&nbsp; खर्च&nbsp; लाभधारकांनी प्रथम स्वत: करावयाचा आहे.)</strong>
                        </h5>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary-3" data-target="#demo3">
                        <h5 style="font-weight:bold;text-align:left">घटक क्रमांक- ३ ते ७</h5>
                    </button>
                    <div id="demo3" class="collapse">
                        @*<h3 class="text-center text-primary"><strong>घटक क्रमांक- ३ ते ७</strong> </h3>*@
                        <table class="table table-responsive table-striped table-bordered">
                            <tbody>
                                <tr class="tableheader">
                                    <td class="text-center">
                                        <p>घटक क्रमांक</p>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <p><strong>प्रती मेंढानर किंमत</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>मेंढानराची एकूण किंमत (रु.)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>लाभधारक हिस्सा २५% </strong></p>
                                        <p><strong>(रु.)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>शासन अनुदान ७५%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (रु)</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>3</p>
                                    </td>
                                    <td>
                                        <p>ज्यांच्याकडे स्वतचे २० किंवा त्यापेक्षा अधिक परंतु ४० पेक्षा कमी मेंढया आहेत अशा लाभार्थ्यांना सुधारित प्रजातीचा १&nbsp; नरमेंढा ७५% अनुदानावर वाटप करणे.</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. १०,०००/- प्रती मेंढानर</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१०,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>७,५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>4</p>
                                    </td>
                                    <td>
                                        <p>ज्यांच्याकडे स्वतचे ४० किंवा त्यापेक्षा अधिक परंतु ६० पेक्षा कमी मेंढया आहेत अशा लाभार्थ्यांना सुधारित प्रजातीचा २&nbsp; नरमेंढे ७५% अनुदानावर वाटप करणे.</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. १०,०००/- प्रती मेंढानर</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२०,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१५,०००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>5</p>
                                    </td>
                                    <td>
                                        <p>ज्यांच्याकडे स्वतचे ६० किंवा त्यापेक्षा अधिक परंतु ८० पेक्षा कमी मेंढया आहेत अशा लाभार्थ्यांना सुधारित प्रजातीचा ३&nbsp; नरमेंढे ७५% अनुदानावर वाटप करणे.</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. १०,०००/- प्रती मेंढानर</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३०,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>७,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२२,५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>6</p>
                                    </td>
                                    <td>
                                        <p>ज्यांच्याकडे स्वतचे ८० किंवा त्यापेक्षा अधिक परंतु १०० पेक्षा कमी मेंढया आहेत अशा लाभार्थ्यांना सुधारित प्रजातीचा ४&nbsp; नरमेंढे ७५% अनुदानावर वाटप करणे.</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. १०,०००/- प्रती मेंढानर</p>
                                    </td>
                                    <td class="text-right">
                                        <p>४०,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१०,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३०,०००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>7</p>
                                    </td>
                                    <td>
                                        <p>ज्यांच्याकडे स्वतचे १०० किंवा त्यापेक्षा अधिक मेंढया आहेत अशा लाभार्थ्यांना सुधारित प्रजातीचा ५&nbsp; नरमेंढे ७५% अनुदानावर वाटप करणे.</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. १०,०००/- प्रती मेंढानर</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५०,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१२,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३७,५००/-</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary-3" data-target="#demo4">
                        <h5 style="font-weight:bold;text-align:left">घटक क्रमांक- ८</h5>
                    </button>
                    <div id="demo4" class="collapse">
                        @*<h3 class="text-center text-primary"><strong>घटक क्रमांक- ८</strong></h3>*@
                        <h4 class="text-center">ज्यांच्याकडे स्वत: च्या २० मेंढया व १ मेंढानर अशा एकूण २१ मेंढया किंवा त्यापेक्षा अधिक परंतु ४० मेंढ्यापेक्षा कमी अशा मेंढ्यांच्या एका ठिकाणी राहून स्थायी स्वरूपाचे मेंढी पालनासाठी पायाभूत सोई- &nbsp;सुविधा उपलब्ध करून देण्यासाठी ७५% अनुदान वाटप <strong>(स्थायी)</strong> </h4>
                        <h4 class="text-center">या घटकामध्ये समाविष्ट बाबी</h4>
                        <table class="table table-responsive table-striped2 table-bordered">
                            <tbody>
                                <tr class="tableheader2">
                                    <td class="text-center">
                                        <p><strong>अ</strong> <strong>क्रं</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>बाब</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>संख्या</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>दर</strong><strong>&nbsp; (</strong><strong>रू</strong><strong>.</strong><strong>)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>एकूण किंमत</strong></p>
                                        <p><strong>प्रती लाभधारक (रु)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>शासनाचे अनुदान (रु)</strong></p>
                                        <p><strong>७५%</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>लाभधारक हिस्सा (रु)</strong></p>
                                        <p><strong>२५%</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>१</p>
                                    </td>
                                    <td>
                                        <p>शेड बांधकाम</p>
                                    </td>
                                    <td
                                <p>२१ प्रौढ मेंढ्यासाठी प्रत्येकी १० चौ. फुट प्रमाणे २१० चौ. फू. आणि २० कोकरांसाठी प्रत्येकी ५ चौ. फू प्रमाणे १०० चौ. फुट असे एकूण ३१० चौ. फुट बांधकाम</p>
                            </td>
                                    <td class="text-right">
                                        <p>रु. २५०/- प्रती चौ. फुट</p>
                                    </td>
                                    <td class="text-right">
                                        <p>७७,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५८,१२५/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१९,३७५/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>२</p>
                                    </td>
                                    <td>
                                        <p>मोकळ्या जागेस कुंपण</p>
                                    </td>
                                    <td>
                                        <p>२१ प्रौढ मेंढ्यासाठी प्रत्येकी २० चौ. फुट प्रमाणे ४२० चौ. फू. आणि २० कोकरांसाठी प्रत्येकी ५ चौ. फू प्रमाणे १०० चौ. फुट असे एकूण ५२० चौ. फुट बांधकाम</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. १००/- प्रती चौ. फुट</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५२,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३९,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१३,०००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>३</p>
                                    </td>
                                    <td>
                                        <p>खाद्याची व पिण्याच्या पाण्याची भांडी</p>
                                    </td>
                                    <td
                                <p>२० मेंढया व १ मेंढानर</p>
                            </td>
                                    <td>
                                        <p>-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१०,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>७,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>४</p>
                                    </td>
                                    <td>
                                        <p>जंतनाशक, कीटकनाशक औषधे व खनिज विटा</p>
                                    </td>
                                    <td
                                <p>२० मेंढया व १ मेंढानर</p>
                            </td>
                                    <td>
                                        <p>-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>५</p>
                                    </td>
                                    <td>
                                        <p>पशुधनाचा विमा सेवाशुल्कासह</p>
                                    </td>
                                    <td
                                <p>२० मेंढया व १ मेंढानर</p>
                            </td>
                                    <td>
                                        <p>पशुधनाच्या किंमतीवर &nbsp;४ % + सर्व्हिस टॅक्स</p>
                                    </td>
                                    <td class="text-right">
                                        <p>८,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>६,३७५/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,१२५/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>६</p>
                                    </td>
                                    <td>
                                        <p>चारा बियाणे व बहुवार्षिक प्रजातीचे ठोंबे/ बेने खरेदी तसेच अझोला व मुरघास तयार करणे</p>
                                    </td>
                                    <td
                                <p>२० मेंढया व १ मेंढानर</p>
                            </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>११,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>८,२५०/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,७५०/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>७</p>
                                    </td>
                                    <td>
                                        <p>प्रशिक्षण</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <p><strong>एकूण किंमत </strong></p>
                                    </td>
                                    <td>
                                        <p><strong>&nbsp;-</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>&nbsp;-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>१</strong><strong>,६३,०००/-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>१</strong><strong>,२२,२५०/-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>४०</strong><strong>,७५०/-</strong></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="text-info title-text">
                            <strong>(टीप- वरील तक्त्यामध्ये दर्शविण्यात आलेल्या अनुक्रमांक १ ते ५ या मधील समाविष्ट बाबीवरील १००% रु. १, ५० , ०००/-&nbsp; खर्च प्रथम लाभधारकाने स्वत: करावयाचा आहे. तसेच&nbsp; अनुक्रमांक ६ व ७ या मधील समाविष्ट बाबीवरील २५ % लाभधारक हिस्स्याची रक्कम रु. ३२५०/- महामंडळाच्या संबंधित प्रक्षेत्रावर &nbsp;जमा करावयाची आहे. )</strong>
                        </h5>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary-3" data-target="#demo5">
                        <h5 style="font-weight:bold;text-align:left">घटक क्रमांक- ९</h5>
                    </button>
                    <div id="demo5" class="collapse">
                        @*<h3 class="text-center text-primary"><strong>घटक क्रमांक- ९</strong></h3>*@
                        <h4 class="text-center">ज्यांच्याकडे स्वत: च्या २० मेंढया व १ मेंढानर अशा एकूण २१ मेंढया किंवा त्यापेक्षा अधिक परंतु ४० मेंढ्यापेक्षा कमी अशा मेंढ्यांच्या स्थलांतरीत&nbsp; स्वरूपाचे मेंढी पालनासाठी पायाभूत सोई-सुविधा उपलब्ध &nbsp;करून देण्यासाठी ७५% अनुदान वाटप <strong>(स्थलांतरीत)</strong></h4>
                        <h4 class="text-center">या घटकामध्ये समाविष्ट बाबी</h4>
                        <table class="table table-responsive table-striped table-bordered">
                            <tbody>
                                <tr class="tableheader">
                                    <td class="text-center">
                                        <p><strong>अ</strong> <strong>क्रं</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>बाब</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>संख्या</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>दर</strong><strong>&nbsp; (</strong><strong>रू</strong><strong>.</strong><strong>)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>एकूण किंमत</strong></p>
                                        <p><strong>प्रती लाभधारक (रु)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>शासनाचे अनुदान (रु)</strong></p>
                                        <p><strong>७५%</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>लाभधारक हिस्सा (रु)</strong></p>
                                        <p><strong>२५%</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>१</p>
                                    </td>
                                    <td>
                                        <p>तंबू, सूती वाघर, स्थलांतरणाच्या वेळी साहित्य वाहतूक करण्याकरिता वाहतूक पिशव्या, फायबर ची बादली, खाद्याचे व पिण्याच्या पाण्याची भांडी आणि इतर साहित्य</p>
                                    </td>
                                    <td>
                                        <p>२० मेंढया + १ मेंढानर</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१५,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>११,२५०/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३,७५०/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>२</p>
                                    </td>
                                    <td>
                                        <p>जंतनाशक, कीटकनाशक औषधे व खनिज विटा</p>
                                    </td>
                                    <td>
                                        <p>२० मेंढया + १ मेंढानर</p>
                                    </td>
                                    <td>
                                        <p>-&nbsp;</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>३</p>
                                    </td>
                                    <td>
                                        <p>पशुधनाचा विमा सेवाशुल्कासह</p>
                                    </td>
                                    <td>
                                        <p>२० मेंढया + १ मेंढानर</p>
                                    </td>
                                    <td>
                                        <p>पशुधनाच्या किंमतीवर &nbsp;४ % + सर्व्हिस टॅक्स</p>
                                    </td>
                                    <td class="text-right">
                                        <p>८,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>६,३७५/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,१२५/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>४</p>
                                    </td>
                                    <td>
                                        <p>मेंढ्या चारण्यासाठी कुरण भाड्याने घेणे किंवा चारा विकत घेणे</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;२० मेंढया + १ मेंढानर</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-&nbsp;</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५,०००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३,७५०/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,२५०/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>५</p>
                                    </td>
                                    <td>
                                        <p>प्रशिक्षण</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,०००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <p><strong>एकूण किंमत </strong></p>
                                    </td>
                                    <td>
                                        <p><strong>&nbsp;-</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>&nbsp;-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>३२</strong><strong>,</strong><strong>५००/-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>२४</strong><strong>,३७५/-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>८</strong><strong>,१२५/-</strong></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="text-success title-text"><strong>(टीप- वरील तक्त्यामध्ये दर्शविण्यात आलेल्या अनुक्रमांक १ ते ४ या मधील समाविष्ट बाबीवरील १००% रु. ३० , ५००/-&nbsp; खर्च प्रथम लाभधारकाने स्वत: करावयाचा आहे. तसेच&nbsp; अनुक्रमांक ५ या मधील समाविष्ट बाबीवरील २५ % लाभधारक हिस्स्याची रक्कम रु. ५००/- महामंडळाच्या संबंधित प्रक्षेत्रावर जमा करावयाची आहे. )</strong></h5>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary-3" data-target="#demo6">
                        <h5 style="font-weight:bold;text-align:left">घटक क्रमांक- १०</h5>
                    </button>
                    <div id="demo6" class="collapse">
                        @*<h3 class="text-center text-primary"><strong>घटक क्रमांक- १०</strong> </h3>*@
                        <h4 class="text-center">ज्यांच्याकडे स्वत: च्या ४० मेंढया व २ मेंढानर अशा एकूण ४२ मेंढया किंवा त्यापेक्षा अधिक अशा मेंढ्यांच्या एका ठिकाणी राहून स्थायी स्वरूपाचे मेंढी पालनासाठी पायाभूत सोई-सुविधा उपलब्ध करून देण्यासाठी ७५% अनुदान वाटप (स्थायी)</h4>
                        <h4 class="text-center">या घटकामध्ये समाविष्ट बाबी</h4>
                        <table class="table table-responsive table-striped2 table-bordered">
                            <tbody>
                                <tr class="tableheader2">
                                    <td class="text-center">
                                        <p><strong>अ</strong> <strong>क्रं</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>बाब</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>संख्या</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>दर</strong><strong>&nbsp; (</strong><strong>रू</strong><strong>.</strong><strong>)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>एकूण किंमत</strong></p>
                                        <p><strong>प्रती लाभधारक (रु)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>शासनाचे अनुदान (रु)</strong></p>
                                        <p><strong>७५%</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>लाभधारक हिस्सा (रु)</strong></p>
                                        <p><strong>२५%</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>१</p>
                                    </td>
                                    <td>
                                        <p>शेड बांधकाम</p>
                                    </td>
                                    <td>
                                        <p>४२ प्रौढ मेंढ्यासाठी प्रत्येकी १० चौ. फुट प्रमाणे ४२० चौ. फू. आणि ४० कोकरांसाठी प्रत्येकी ५ चौ. फू प्रमाणे २०० चौ. फुट असे एकूण ६२० चौ. फुट बांधकाम</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. २५०/- प्रती चौ. फुट</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,५५,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,१६,२५०/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३८,७५०/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>२</p>
                                    </td>
                                    <td>
                                        <p>मोकळ्या जागेस कुंपण</p>
                                    </td>
                                    <td>
                                        <p>४२ प्रौढ मेंढ्यासाठी प्रत्येकी २० चौ. फुट प्रमाणे ८४० चौ. फू. आणि ४० कोकरांसाठी प्रत्येकी ५ चौ. फू प्रमाणे २०० चौ. फुट असे एकूण १०४० चौ. फुट बांधकाम</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. १००/- प्रती चौ. फुट</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,०४,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>७८,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२६,०००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>३</p>
                                    </td>
                                    <td>
                                        <p>खाद्याची व पिण्याच्या पाण्याची भांडी</p>
                                    </td>
                                    <td>
                                        <p>४० मेंढया व २ मेंढेनर</p>
                                    </td>
                                    <td>
                                        <p>-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२०,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१५,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५०००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>४</p>
                                    </td>
                                    <td>
                                        <p>जंतनाशक, कीटकनाशक औषधे व खनिज विटा</p>
                                    </td>
                                    <td>
                                        <p>४० मेंढया व २ मेंढेनर</p>
                                    </td>
                                    <td>
                                        <p>-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>४,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१०००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>५</p>
                                    </td>
                                    <td>
                                        <p>पशुधनाचा विमा सेवाशुल्कासह</p>
                                    </td>
                                    <td>
                                        <p>४० मेंढया व २ मेंढेनर</p>
                                    </td>
                                    <td>
                                        <p>पशुधनाच्या किंमतीवर &nbsp;४ % + सर्व्हिस टॅक्स</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१७,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१२,७५०/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>४२५०/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>६</p>
                                    </td>
                                    <td>
                                        <p>चारा बियाणे व बहुवार्षिक प्रजातीचे ठोंबे/ बेने खरेदी तसेच अझोला व मुरघास तयार करणे</p>
                                    </td>
                                    <td>
                                        <p>४० मेंढया व २ मेंढेनर</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१५,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>११,२५०/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३७५०/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>७</p>
                                    </td>
                                    <td>
                                        <p>प्रशिक्षण</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td>
                                        <p>२०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <p><strong>एकूण किंमत </strong></p>
                                    </td>
                                    <td>
                                        <p><strong>&nbsp;-</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>&nbsp;-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>३</strong><strong>,१७,०००/-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>२</strong><strong>,३७,७५०/-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>७९</strong><strong>,२५०/-</strong></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="text-info title-text"><strong> (टीप-  वरील तक्त्यामध्ये दर्शविण्यात आलेल्या अनुक्रमांक १ ते ५ या मधील समाविष्ट बाबीवरील १००%  रु. ३,००,०००/-&nbsp; खर्च प्रथम लाभधारकाने स्वत: करावयाचा आहे. तसेच&nbsp; अनुक्रमांक ६ व ७ या मधील समाविष्ट बाबीवरील २५ % लाभधारक हिस्स्याची रक्कम रु. ४ , २५०/- महामंडळाच्या संबंधित प्रक्षेत्रावर जमा करावयाची आहे.>)</strong></h5>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary-3" data-target="#demo7">
                        <h5 style="font-weight:bold;text-align:left">घटक क्रमांक- ११</h5>
                    </button>
                    <div id="demo7" class="collapse">
                        @*<h3 class="text-center text-primary"><strong>घटक क्रमांक- ११ </strong></h3>*@
                        <h4 class="text-center">ज्यांच्याकडे स्वत: च्या ४० मेंढया व २ मेंढानर अशा एकूण ४२ मेंढया किंवा त्यापेक्षा अधिक अशा मेंढ्यांच्या स्थलांतरीत&nbsp; स्वरूपाचे मेंढी पालनासाठी पायाभूत सोई-सुविधा उपलब्ध करून देण्यासाठी ७५% अनुदान वाटप (स्थलांतरीत)</h4>
                        <h4 class="text-center">या घटकामध्ये समाविष्ट बाबी</h4>
                        <table class="table table-responsive table-striped table-bordered">
                            <tbody>
                                <tr class="tableheader">
                                    <td class="text-center">
                                        <p><strong>अ</strong> <strong>क्रं</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>बाब</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>संख्या</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>दर</strong><strong>&nbsp; (</strong><strong>रू</strong><strong>.</strong><strong>)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>एकूण किंमत</strong></p>
                                        <p><strong>प्रती लाभधारक (रु)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>शासनाचे अनुदान (रु)</strong></p>
                                        <p><strong>७५%</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>लाभधारक हिस्सा (रु)</strong></p>
                                        <p><strong>२५%</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>१</p>
                                    </td>
                                    <td>
                                        <p>तंबू, सूती वाघर, स्थलांतरणाच्या वेळी साहित्य वाहतूक करण्याकरिता वाहतूक पिशव्या, फायबर ची बादली, खाद्याचे व पिण्याच्या पाण्याची भांडी आणि इतर साहित्य</p>
                                    </td>
                                    <td>
                                        <p>४० मेंढया व २ मेंढेनर</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२०,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१५,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५,०००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>२</p>
                                    </td>
                                    <td>
                                        <p>जंतनाशक, कीटकनाशक औषधे व खनिज विटा</p>
                                    </td>
                                    <td>
                                        <p>४० मेंढया व २ मेंढेनर</p>
                                    </td>
                                    <td>
                                        <p>-&nbsp;</p>
                                    </td>
                                    <td class="text-right">
                                        <p>४,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,०००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>३</p>
                                    </td>
                                    <td>
                                        <p>पशुधनाचा विमा सेवाशुल्कासह</p>
                                    </td>
                                    <td>
                                        <p>४० मेंढया व २ मेंढेनर</p>
                                    </td>
                                    <td>
                                        <p>पशुधनाच्या किंमतीवर &nbsp;४ % + सर्व्हिस टॅक्स</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१७,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१२,७५०/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>४,२५०/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>४</p>
                                    </td>
                                    <td>
                                        <p>मेंढ्या चारण्यासाठी कुरण भाड्याने घेणे किंवा चारा विकत घेणे</p>
                                    </td>
                                    <td>
                                        <p>४० मेंढया व २ मेंढेनर</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-&nbsp;</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५,०००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>३,७५०/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,२५०/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <p>५</p>
                                    </td>
                                    <td>
                                        <p>प्रशिक्षण</p>
                                    </td>
                                    <td>
                                        <p>&nbsp;-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,०००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>२,०००</p>
                                    </td>
                                    <td class="text-right">
                                        <p>१,५००/-</p>
                                    </td>
                                    <td class="text-right">
                                        <p>५००/-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <p><strong>एकूण किंमत </strong></p>
                                    </td>
                                    <td>
                                        <p><strong>&nbsp;-</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>&nbsp;-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>४८</strong><strong>,</strong><strong>०००/-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>३६</strong><strong>,०००/-</strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p><strong>१२</strong><strong>,०००/-</strong></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="text-success title-text"><strong>&nbsp; (टीप- वरील तक्त्यामध्ये दर्शविण्यात आलेल्या अनुक्रमांक १ ते ४ या मधील समाविष्ट बाबीवरील १००% रु. ४६०००/-&nbsp; खर्च प्रथम लाभधारकाने स्वत: करावयाचा आहे. तसेच&nbsp; अनुक्रमां क ५ या मधील समाविष्ट बाबीवरील २५ % लाभधारक हिस्स्याची रक्कम रु. ५००/- महामंडळाच्या संबंधित प्रक्षेत्रावर जमा करावयाची आहे )</strong></h5>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary-3" data-target="#demo8">
                        <h5 style="font-weight:bold;text-align:left">घटक क्रमांक- १२</h5>
                    </button>
                    <div id="demo8" class="collapse">
                        @*<h3 class="text-center text-primary"><strong>घटक क्रमांक - १२ </strong></h3>*@
                        <h4 class="text-center">एका ठिकाणी राहून स्थायी स्वरूपाचे मेंढी पालनासाठी संतुलित खाद्य उपलब्ध करून देण्यासाठी ७५% अनुदान वाटप (स्थायी) </h4>
                        <table class="table table-responsive table-striped2 table-bordered">
                            <tbody>
                                <tr class="tableheader2">
                                    <td class="text-center">
                                        <p><strong>बाब</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>प्रती किलो किंमत</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>लाभधारक हिस्सा रक्कम प्रती किलो खाद्य (रु.)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>शासन अनुदान ७५%&nbsp;&nbsp; </strong></p>
                                        <p><strong>प्रती किलो खाद्य</strong></p>
                                        <p><strong>&nbsp;&nbsp;&nbsp; (रु)</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><strong>स्थायी पद्धतीने मेंढीपालन </strong></p>
                                        <p>(१०० ग्रॅम प्रती दिन प्रती मेंढी याप्रमाणे माहे एप्रिल ते जुलै या ४ महिन्याच्या म्हणजेच १२० दिवसाच्या कालावधी करिता)</p>
                                        <p><strong><u>१२ किलो प्रती मेंढी</u></strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. 25/- प्रती किलो</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. 6.25/- प्रती किलो</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. 18.75 प्रती किलो</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary-3" data-target="#demo9">
                        <h5 style="font-weight:bold;text-align:left">घटक क्रमांक- १३ </h5>
                    </button>
                    <div id="demo9" class="collapse">

                        @*<h3 class="text-center text-primary"><strong>घटक क्रमांक - १३ </strong></h3>*@
                        <h4 class="text-center">भटकंती करणारे स्थलांतरीत स्वरूपाच्या मेंढी पालनासाठी संतुलित खाद्य उपलब्ध करून देण्यासाठी ७५% अनुदान वाटप (स्थलांतरीत) </h4>
                        <table class="table table-responsive table-striped table-bordered">
                            <tbody>
                                <tr class="tableheader">
                                    <td class="text-center">
                                        <p><strong>बाब</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>प्रती किलो किंमत</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>लाभधारक हिस्सा रक्कम प्रती किलो खाद्य (रु.)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>शासन अनुदान ७५%&nbsp;&nbsp; </strong></p>
                                        <p><strong>प्रती किलो खाद्य</strong></p>
                                        <p><strong>&nbsp;&nbsp;&nbsp; (रु)</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><strong>स्थलांतरीत पद्धतीने मेंढीपालन</strong></p>
                                        <p>(१०० ग्रॅम प्रती दिन प्रती मेंढी याप्रमाणे माहे जून ते जुलै या २ महिन्याच्या म्हणजेच ६० दिवसाच्या कालावधी करिता)</p>
                                        <p><strong><u>६ किलो प्रती मेंढी</u></strong></p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. 25/- प्रती किलो</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. 6.25/- प्रती किलो</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. 18.75 प्रती किलो</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary-3" data-target="#demo10">
                        <h5 style="font-weight:bold;text-align:left">घटक क्रमांक- १४ </h5>
                    </button>
                    <div id="demo10" class="collapse">
                        @*<h3 class="text-center text-primary"><strong>घटक क्रमांक - १४</strong></h3>*@
                        <h4 class="text-center">कुट्टी केलेल्या हिरव्या चार्&zwj;या चा मुरघास करण्याकरिता गासड्या बांधण्याचे यंत्र (Mini Silage Baler Cum Wrapper)खरेदी करण्यासाठी अनुदानवाटप</h4>
                        <table class="table table-responsive table-striped2 table-bordered">
                            <tbody>
                                <tr class="tableheader2">
                                    <td class="text-center">
                                        <p><strong>बाब</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>किंमत </strong></p>
                                    </td>
                                    <td>
                                        <p><strong>लाभधारक हिस्सा रक्कम (रु.)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>शासन अनुदान ५० %&nbsp;&nbsp; </strong></p>
                                        <p><strong>प्रती किलो खाद्य</strong></p>
                                        <p><strong>&nbsp;&nbsp;&nbsp; (रु)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>एकूण उधीष्ट </strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>कुट्टी केलेल्या हिरव्या चार्&zwj;या चा मुरघास करण्याकरिता गासड्या बांधण्याचे यंत्र (Mini Silage Baler Cum Wrapper) खरेदी करण्यासाठी अनुदान वाटप</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. ८.००लक्ष</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. ४.०० लक्ष</p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td class="text-right">
                                        <p>रु. ४.००लक्ष</p>
                                        <p>(५० % अनुदान)</p>
                                    </td>
                                    <td>
                                        <p>२५ यंत्र</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary-3" data-target="#demo11">
                        <h5 style="font-weight:bold;text-align:left">घटक क्रमांक- १५ </h5>
                    </button>
                    <div id="demo11" class="collapse">
                        <h3 class="text-center text-primary"><strong>घटक क्रमांक - १५</strong></h3>
                        <h4 class="text-center">पशुखाद्य कारखाने उभारण्यासाठी अनुदान वाटप</h4>
                        <table class="table table-responsive table-striped table-bordered">
                            <tbody>
                                <tr class="tableheader">
                                    <td class="text-center">
                                        <p><strong>बाब</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>किंमत </strong></p>
                                    </td>
                                    <td>
                                        <p><strong>लाभधारक हिस्सा रक्कम (रु.)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>शासन अनुदान ५० %&nbsp;&nbsp; </strong></p>
                                        <p><strong>प्रती किलो खाद्य</strong></p>
                                        <p><strong>&nbsp;&nbsp;&nbsp; (रु)</strong></p>
                                    </td>
                                    <td>
                                        <p><strong>एकूण उधीष्ट </strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>पशुखाद्य कारखाने उभारण्यासाठी अनुदान वाटप</p>
                                    </td>
                                    <td>
                                        <p>रु. १०.०० लक्ष</p>
                                    </td>
                                    <td>
                                        <p>रु. ५.०० लक्ष</p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td>
                                        <p>रु. ५.०० लक्ष</p>
                                        <p>(५०% अनुदान)&nbsp;</p>
                                    </td>
                                    <td>
                                        <p>१० लाभधारक</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>