
@{
    ViewBag.Title = "Download Formats";
}
<link href="/Content/Varsity/ui.css" rel="stylesheet">
    
<div class="container body-content" id="#maincontent" style="margin-bottom: 150px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">

        <div class="panel-body">
            <div class="row">
                <div class="heading">
                    <h5 class="text-center">Download Formats</h5>
                </div>
                <article class="box">
                    <figure class="itemside">
                        <div class="aside align-self-center">
                            <span class="icon-wrap icon-md round bg-danger-1">
                                <i class="fa fa-file-pdf-o white"></i>
                            </span>
                        </div>
                        <figcaption class="text-wrap">
                            <h5 class="title">
                                <a target="_blank" accesskey=" " href="~/Documents/MahameshYojana/Format1.pdf">Format1.pdf</a>
                            </h5>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
                <article class="box">
                    <figure class="itemside">
                        <div class="aside align-self-center">
                            <span class="icon-wrap icon-md round bg-green">
                                <i class="fa fa-file-pdf-o white"></i>
                            </span>
                        </div>
                        <figcaption class="text-wrap">
                            <h5 class="title">
                                <a target="_blank" accesskey=" " href="~/Documents/MahameshYojana/Format2.pdf">Format2.pdf</a>
                            </h5>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
                <article class="box">
                    <figure class="itemside">
                        <div class="aside align-self-center">
                            <span class="icon-wrap icon-md round bg-orange">
                                <i class="fa fa-file-pdf-o white"></i>
                            </span>
                        </div>
                        <figcaption class="text-wrap">
                            <h5 class="title">
                                <a target="_blank" accesskey=" " href="~/Documents/MahameshYojana/Format3.pdf">Format3.pdf</a>
                            </h5>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
                <article class="box">
                    <figure class="itemside">
                        <div class="aside align-self-center">
                            <span class="icon-wrap icon-md round bg-blue">
                                <i class="fa fa-file-pdf-o white"></i>
                            </span>
                        </div>
                        <figcaption class="text-wrap">
                            <h5 class="title">
                                <a target="_blank" accesskey=" " href="~/Documents/MahameshYojana/Format4.pdf">Format4.pdf</a>
                            </h5>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
                <article class="box">
                    <figure class="itemside">
                        <div class="aside align-self-center">
                            <span class="icon-wrap icon-md round bg-primary">
                                <i class="fa fa-file-pdf-o white"></i>
                            </span>
                        </div>
                        <figcaption class="text-wrap">
                            <h5 class="title">
                                <a target="_blank" accesskey=" " href="#">Format5.pdf</a>
                            </h5>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
                <article class="box">
                    <figure class="itemside">
                        <div class="aside align-self-center">
                            <span class="icon-wrap icon-md round bg-purple">
                                <i class="fa fa-file-pdf-o white"></i>
                            </span>
                        </div>
                        <figcaption class="text-wrap">
                            <h5 class="title">
                                <a target="_blank" accesskey=" " href="#">Format6.pdf</a>
                            </h5>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div>
        </div>
    </div>
</div>

