
@{
    ViewBag.Title = "Android App";
}

<div class="container body-content" id="#maincontent" style="margin-bottom: 20px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h5 class="text-center">Android App</h5>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="text-center">
                    @*<a href="https://drive.google.com/file/d/1ZM8gjfqYq2qA64l3uyd5r-WoN5213CWg/view?usp=sharing"><h4><i class="fa fa-android text-success"></i>  Click here to download the app directly</h4></a>*@
                    <a href="https://wetransfer.com/downloads/93f0832a4a6ca5da404edd90cbfcaf3220190827130112/8b10d0a8e57051abeb084828551692c720190827130112/98c413?utm_campaign=WT_email_tracking&utm_content=general&utm_medium=download_button&utm_source=notify_recipient_email" target="_blank"><h4><i class="fa fa-android text-success"></i>  Click here to download the app directly</h4></a>
                </div>
                <hr />
                <div class="text-center"><a href="#"><h4><i class="fa fa-android text-info"></i> Click here to download via Google Play</h4></a></div>
            </div>
        </div>
    </div>
</div>

