
@{
    ViewBag.Title = "Contact Us";
}

<div class="container body-content" id="#maincontent" style="margin-bottom: 150px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h5 class="text-center">Contact Us / Support</h5>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning text-center text-danger" style="font-weight:800">संगणक प्रणाली संदर्भात अडचण असल्यास खालील माहितीवर संपर्क साधावा</div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="border:1px solid #ccc; border-radius:3px;">
                    <div class="text-center" style="font-weight:800"><h5>इ-मेल</h5></div>
                    <div class="text-center alert alert-info text-info"><h5 style="font-weight:700"><i class="fa fa-envelope"></i>  - support@mahamesh.co.in</h5></div>
                    <hr />
                    <div class="text-center"><h5>मोबाईल नंबर </h5></div>
                    <div class="text-center alert alert-info text-info"><h5 style="font-weight:700"><i class="fa fa-phone"></i> +91 7447852088</h5></div>
                    <hr />
                    <div class="text-center">
                        <h5>
                            फोन नंबर
                        </h5>
                    </div>
                    <div class="text-center alert alert-info text-info"><h5 style="font-weight:700"><i class="fa fa-phone"></i> 020-25657112</h5></div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
      
    </div>
</div>

