
@{
    ViewBag.Title = "Officers List";
}

<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Officers List</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <h3 class="panel-title text-center" style="padding-bottom:10px;">STAFF OF HEAD OFFICE</h3>

                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">Sr. No.</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Designation</th>
                            <th class="text-center">Phone No.</th>
                        </tr>
                    </thead>
                    <tbody  class="text-center">
                        <tr>
                            <td>1.</td>
                            <td>Dr. Mahesh Bansode</td>
                            <td>Managing Director</td>
                            <td>020-25657112</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Dr. G. W. Sangole</td>
                            <td>General Manager</td>
                            <td>020-25657112</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Dr. S. H. Tekade</td>
                            <td>Assistant Director</td>
                            <td>020-25657112</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Shri. D. D. Zanjare</td>
                            <td>Financial Advisor and Chief Account Officer </td>
                            <td>020-25657112</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Shri. R. T. Kadam</td>
                            <td>Administrative Officer</td>
                            <td>020-25657112</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <h3 class="panel-title text-center" style="padding-bottom:10px;">INFORMATION OF FARM MANAGER</h3>
                <table class="table table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Sr. No.
                            </th>
                            <th class="text-center">Name</th>
                            <th class="text-center">
                                Designation
                            </th>
                            <th class="text-center">Phone No.</th>
                            <th class="text-center">Mobile No.</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>1.</td>
                            <td>
                                Dr. Gajanan Sangole
                            </td>
                            <td>Farm Manager, Padegaon</td>
                            <td>0240-2370449</td>
                            <td>8007333227</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>
                                Dr. Veeraj Borse
                            </td>
                            <td>Farm Manager, Pune</td>
                            <td>020-25657112</td>
                            <td>9890194006</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>
                                Dr. Priyanka Tonde
                            </td>
                            <td>Farm Manager, Bilakhed</td>
                            <td>02589-222457</td>
                            <td>7709300121</td>
                        </tr>

                        <tr>
                            <td>4.</td>
                            <td>
                                Dr. Sachin Dadas
                            </td>
                            <td>Farm Manager, Ranjani</td>
                            <td>02341-244222</td>
                            <td>8141147677</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>
                                Dr. Popat Karande
                            </td>
                            <td>Farm Manager, Mahud</td>
                            <td>02187-202300</td>
                            <td>9545467589</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>
                                Shri. Pandurang Yedage
                            </td>
                            <td>Farm Manager, Dahiwadi</td>
                            <td>02165-204480</td>
                            <td>7719075491</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>
                                Dr. Bhushan Sadar
                            </td>
                            <td>Farm Manager, Pohara</td>
                            <td>0721-2020523</td>
                            <td>8793451030</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>
                                Dr. Balaji Kandhare
                            </td>
                            <td>Farm Manager, Bondri</td>
                            <td>---</td>
                            <td>9665787295</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>
                                Dr. Rahim Shaikh
                            </td>
                            <td>Farm Manager, Ambajogai</td>
                            <td>02446-247239</td>
                            <td>8975364673</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>
                                Dr. Vikram Salave
                            </td>
                            <td>Farm Manager, Mukhed</td>
                            <td>02461-202022</td>
                            <td>9405494770</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>
                                Dr. Akshay Ghatare
                            </td>
                            <td>Farm Manager, Tirth</td>
                            <td>02471-259066</td>
                            <td>8975131626</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

