
@{
    ViewBag.Title = "Products - Wool";
}

<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Products - Wool</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <p style="text-align:justify">Punyasloka   Ahilyadevi Maharashtra Sheep and Goat Development Corporation Ltd is a Government  of Maharashtra undertaking which is engaged in sheep and wool development, marketing and utilization of wool. The  corporation are interested to provide training in Wool Weaving at our  following wool weaving centers. </p>
                <table class="table table-bordered table-responsive table-striped">
                    <tbody>
                        <tr>
                            <td>1. </td>
                            <td>Wool Utilization Center, Head Office, Gokhale nager, Pune -16</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Wool Utilization Center, Ranjani, Dist. Sangali</td>
                        </tr>
                        <tr>
                            <td>3. </td>
                            <td>Wool Utilization Center, Padegav, Dist. Aurangabad</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <p style="text-align:justify">In these center following products are produced on Handlooms by using pure woolen yarn and also these products are available for sale at our all farms of this Corporation.</p>
                <table class="table table-bordered table-responsive table-striped">
                    <tbody>
                        <tr>
                            <td>Ghongadi</td>
                        </tr>
                        <tr>
                            <td>Jen</td>
                        </tr>
                        <tr>
                            <td>Chaddar</td>
                        </tr>
                        <tr>
                            <td>Satranji</td>
                        </tr>
                        <tr>
                            <td>Shawl</td>
                        </tr>
                        <tr>
                            <td>Puja Aasan</td>
                        </tr>
                        <tr>
                            <td>Chair Carpet</td>
                        </tr>
                        <tr>
                            <td>Galicha</td>
                        </tr>
                        <tr>
                            <td>Pillow</td>
                        </tr>
                        <tr>
                            <td>Mattress</td>
                        </tr>
                    </tbody>
                </table>
                <p>Pure Woolen Handlooms Product Produced at Wool Utilization Center in this Corporation </p>
                <div class="card-deck">
                    <div class="card" style="min-width:25rem;">
                        <img class="card-img-top" src="~/Images/Prod1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Ghongadi</h5>
                            <p class="card-text">Raw material - 100% Woolen yarn.</p>
                            <p class="card-text">Weight - 1.5kg.</p>
                            <p class="card-text">Size (feet) - 5×7⅟2 feet </p>
                            <p class="card-text">Price -930/-</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                    <div class="card" style="min-width:25rem;">
                        <img class="card-img-top" src="~/Images/Prod2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jen</h5>
                            <p class="card-text">Raw material - 100% Wool.</p>
                            <p class="card-text">Weight - 6 kg.</p>
                            <p class="card-text">Size (feet) - 3×6 feet,4×6 feet</p>
                            <p class="card-text">Price -740/-, 900/-</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                    <div class="card" style="min-width:25rem;">
                        <img class="card-img-top" src="~/Images/Prod3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Chaddar</h5>
                            <p class="card-text">Raw material - 50% Woolen yarn &50% Cotton yarn</p>
                            <p class="card-text">Weight - 2kg.</p>
                            <p class="card-text">Size (feet) - 5×7⅟2 feet </p>
                            <p class="card-text">Price -870/-</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div><div class="card" style="min-width:25rem;">
                        <img class="card-img-top" src="~/Images/Prod4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Satranji</h5>
                            <p class="card-text">Raw material - 80% Woolen yarn &20% Cotton yarn</p>
                            <p class="card-text">Weight - 2kg, 3kg, 4kg</p>
                            <p class="card-text">Size (feet) - 5×7⅟2, 6×10  ,3⅟2×6⅟2 feet</p>
                            <p class="card-text">Price - 1640/-, 2380/-, 1040/-</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                    <div class="card" style="min-width:25rem;">
                        <img class="card-img-top" src="~/Images/Prod5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Shawl</h5>
                            <p class="card-text">Raw material - 100% Woolen yarn.</p>
                            <p class="card-text">Weight - 0.850kg</p>
                            <p class="card-text">Size (feet) - 3⅟2×6⅟2 feet</p>
                            <p class="card-text">Price -550/-</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                    <div class="card" style="min-width:25rem;">
                        <img class="card-img-top" src="~/Images/Prod6.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Puja Aasan</h5>
                            <p class="card-text">Raw material - 100% Woolen yarn.</p>
                            <p class="card-text">Weight -0.2 kg.</p>
                            <p class="card-text">Size (feet) - 2×2 feet </p>
                            <p class="card-text">Price -160/-</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                    <div class="card" style="min-width:25rem;">
                        <img class="card-img-top" src="~/Images/Prod7.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Char Carpet</h5>
                            <p class="card-text">Raw material - 80% Woolen yarn &20% Cotton yarn</p>
                            <p class="card-text">Weight -1.5kg, 4.5kg</p>
                            <p class="card-text">Size (feet) - 2×2, 2x6 feet </p>
                            <p class="card-text">Price -180/-, 540/-</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                    <div class="card" style="min-width:25rem;">
                        <img class="card-img-top" src="~/Images/Prod8.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Galicha</h5>
                            <p class="card-text">Raw material - 80% Woolen yarn &20% Cotton yarn</p>
                            <p class="card-text">Weight -1.5kg, 4.5kg</p>
                            <p class="card-text">Size (feet) - 2×2, 2x6 feet </p>
                            <p class="card-text">Price -510/-, 1530/-</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                    <div class="card" style="min-width:25rem;">
                        <img class="card-img-top" src="~/Images/Prod9.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Maffler</h5>
                            <p class="card-text">Raw material - 100% Woolen yarn.</p>
                            <p class="card-text">Weight -0.2 kg.</p>
                            <p class="card-text">Size (feet) - 0.75×5 feet </p>
                            <p class="card-text">Price -160/-</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                    <div class="card" style="min-width:25rem;">
                        <img class="card-img-top" src="~/Images/Prod10.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Puja Aasan</h5>
                            <p class="card-text">Raw material - 100% Wool.</p>
                            <p class="card-text">Weight -1 kg.</p>
                            <p class="card-text">Size (feet) - 1.16×2 feet </p>
                            <p class="card-text">Price -110/-</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                    <div class="card" style="min-width:25rem;border:none">
                        @*<img class="card-img-top" src="" alt="Card image cap">*@
                        <div class="card-body">
                            @*<h5 class="card-title">Puja Aasan</h5>
                            <p class="card-text">Raw material - 100% Wool.</p>
                            <p class="card-text">Weight -1 kg.</p>
                            <p class="card-text">Size (feet) - 1.16×2 feet </p>
                            <p class="card-text">Price -110/-</p>*@
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                    <div class="card" style="min-width:25rem;border:none">
                        @*<img class="card-img-top" src="" alt="Card image cap">*@
                        <div class="card-body">
                            @*<h5 class="card-title">Puja Aasan</h5>
                            <p class="card-text">Raw material - 100% Wool.</p>
                            <p class="card-text">Weight -1 kg.</p>
                            <p class="card-text">Size (feet) - 1.16×2 feet </p>
                            <p class="card-text">Price -110/-</p>*@
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>

                </div>
                <hr />
                <p style="text-align:justify">
                    Note:-Above rate are only for the year 2019-20.
                    Contact:-Mendhi farm, Gokhale nagar, Pune-16.
                </p>
            </div>
</div>

