
@{
    ViewBag.Title = "Vaccination List";
}
<style>
    .glyphicon {
        top: 7px !important;
        margin-left: 20px !important;
        margin-right: 30px !important;
        font-size: 24px;
    }



</style>
<div class="container body-content" id="#maincontent" style="margin-top:20px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Vaccination Schedule</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="center-block">
                        <span class="btn btn-warning btn-lg">P.P.R</span>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <span class="btn-warning btn-lg btn">3 months of age</span>
                        <span class="glyphicon glyphicon-minus"></span>
                        <span class="btn-warning btn-lg btn">Every 3 years</span>
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span class="btn-warning btn-lg btn">October</span>
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="center-block">
                        <span class="btn btn-warning btn-lg">F.M.D.</span>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <span class="btn-warning btn-lg btn"><span>3 to 4 months of age <br /> & repeat after 21 to<br /> 28 days</span></span>
                        <span class="glyphicon glyphicon-minus"></span>
                        <span class="btn-warning btn-lg btn">After 6 monts gap</span>
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span class="btn-warning btn-lg btn">November</span>
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="center-block">
                        <span class="btn btn-warning btn-lg">POX</span>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <span class="btn-warning btn-lg btn"><span>3 to 4 months of age <br /> & repeat after 21 to<br /> 28 days</span></span>
                        <span class="glyphicon glyphicon-minus"></span>
                        <span class="btn-warning btn-lg btn">If disease occurs</span>
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span class="btn-warning btn-lg btn">January</span>
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="center-block">
                        <span class="btn btn-warning btn-lg">ETV</span>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <span class="btn-warning btn-lg btn"><span>3 to 4 months of age <br /> & repeat after 21 to<br /> 28 days</span></span>
                        <span class="glyphicon glyphicon-minus"></span>
                        <span class="btn-warning btn-lg btn">Once in a year</span>
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span class="btn-warning btn-lg btn">July</span>
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="center-block">
                        <span class="btn btn-warning btn-lg">H.S.</span>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <span class="btn-warning btn-lg btn"><span>3 to 4 months of age <br /> & repeat after 21 to<br /> 28 days</span></span>
                        <span class="glyphicon glyphicon-minus"></span>
                        <span class="btn-warning btn-lg btn">Once in a year</span>
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span class="btn-warning btn-lg btn">June</span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
