
@{
    ViewBag.Title = "Website Policy";
}


<div class="container body-content" id="#maincontent" style="margin-top:20px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Website Policy</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <p class="text-justify">
                    <strong>AARUSH SYSTEMS PUNE </strong>has built the Mahamesh Yojana App / Web Application as a Commercial app. This SERVICE is provided by AARUSH SYSTEMS PUNE and is intended for use as is.
                    By accessing or using this site you agree to be bound, without limitation or qualification, by the Terms & Conditions of use.
                    <h5 class="text-info">USAGE OF SITE:</h5>
              You are hereby granted a nonexclusive, non-transferable, limited license to view and use information retrieved from this site provided solely for your personal, informational purposes and provided you do not remove or obscure the copyright notice or other notices. Except as expressly provided above, no part of this site, including but not limited to materials retrieved there from and the underlying code, may be reproduced, republished transmitted, or distributed in any form or by any means.
                    <h5 class="text-info">
                        OWNERSHIP:
                    </h5>
                Unless otherwise noted, all materials, including images, designs, icons, photographs and written and other materials that are part of this website are copyrights, trademarks, designs and/or other intellectual properties owned, controlled or licensed by Punyashloka Ahilyadevi Maharashtra Mendhi Va Sheli Vikas Mahamandal a Government of Maharashtra Undertaking and are protected by Indian and International copyright and other intellectual property laws. Nothing contained herein shall be construed as conferring any license or right, by implications, estoppels or otherwise, under copyright or other intellectual property rights.
                This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.
                If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.
                The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Mahamesh Yojana, defined in this Privacy Policy.
                    <h5 class="text-info">Information Collection and Use</h5>
                For a better experience, while using our Service, We may require you to provide us with certain personally identifiable information, including but not limited to Aadhar Card, Mobile Number, Caste, Date of Birth, Number of Children, Land and Crop Details, Address, Photograph, etc. The information that we request will be retained on your device and is retained by us and used as described in this privacy policy.
                The app does use third party services that may collect information used to identify you.
                Link to privacy policy of third party service providers used by the app
                <strong> Google Play Services</strong>
                <h5 class="text-info">  Log Data</h5>
                We want to inform you that whenever you use our Service, in a case of an error in the app We will collect data and information on your such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the device when utilizing our Service, the time and date of your use of the Service, and other statistics.

                <h5 class="text-info">  Cookies</h5>
                Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.
                This Service does not use these “cookies” explicitly. However, the app may use third party code and libraries that use “cookies” to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.
                <h5 class="text-info"> Service Providers</h5>
                <ul>
                    We may employ third-party companies and individuals due to the following reasons:
                    <li>	To facilitate our Service</li>
                    <li>	To provide the Service on our behalf</li>
                    <li>	To perform Service-related services or</li>
                    <li>	To assist us in analyzing how our Service is used.</li>
                </ul>
                    <br />
                We want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
                    <h5 class="text-info"> Security</h5>
                We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
                    <h5 class="text-info">Links to Other Sites</h5>
                This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.


                    <h5 class="text-info"> Children’s Privacy</h5>
                These Services do not address anyone under the age of 18. We do not knowingly collect personally identifiable information from children under 18. In the case we discover that a child under 18 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.
                    <h5 class="text-info">   Changes to This Privacy Policy</h5>
                We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.
                    <h5 class="text-info">Contact Us</h5>
                If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at director@aarushsystems.com.

                </p>
            </div>
        </div>
    </div>
</div>
