
@{
    ViewBag.Title = "Implimented Schemes";
}
<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }

</style>

<div class="container body-content secParagraph" id="#maincontent">
    <section>
        <h4 class="text-center text-info" style="font-weight:600">Schemes implemented by Corporation</h4>
        <div class="row col-lg-12">
            <h5>1. Schemes implemented by Corporation</h5>
            <p>Schemes implemented by Corporation</p>
            <hr />
            <h5>2. Integrated Development of Small Ruminants and Rabbits</h5>
            <p>GOI have sanctioned Rs. 283.00 lakh to the Corporation for strengthening of its 6 Sheep & Goat Breeding Farms as follows-</p>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Sheep & Goat Development Farm</th>
                        <th>Total Expenditure (Rs. lakh)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Bilakhed, Ta. Chalisgaon, Dist. Jalgaon</td>
                        <td>50.00</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Padegaon, Ta. Aurangabad, Dist. Aurangabad</td>
                        <td>50.00</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Ambejogai, Ta. Ambejogai, Dist. Beed</td>
                        <td>42.00</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Mukhed, Ta. Mukhed, Dist. Nanded</td>
                        <td>50.00</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Mahud, Ta. Sangola, Dist. Solapur</td>
                        <td>50.00</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>Dahiwadi, Ta. Man, Dist. Satara</td>
                        <td>41.00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>283.00</td>
                    </tr>
                </tbody>
            </table>
            <p>However during 2010-11, funds of Rs. 100.00 lakh have been actually released to the Corporation, form which the two farms viz. Padegaon, Ta. Aurangabad, Dist. Aurangabad & Bilakhed, Ta. Chalisgaon, Dist. Jalgaon have been strengthened. During the year 2012-13 the funds of the Rs. 160.00 lakhs have been released to the Corporation for strengthening of remaining 4 farms.</p>
            <p>The funds has utilized for the components viz. Purchase of sheep & goats for production of superior rams & bucks, land development, creation of irrigation facilitied, rapairs & construction of new wells, water conservation, establishment of training center for sheep & goat breeders with modern audio visual instruments.</p>
            <hr />
            <h5>3. Conservation of Threatened Breed-Madgyal</h5>
            <p>The sheep breeders from main market place “Madgyal ” and its adjacent villages of Jat, Taluka, Dist. Sangali, have evolved a fast growing & most beneficial mutton purpose sheep breed called “Madgyal” by applying selection procedure. As this Sheep has promising quality of rapid weight gain, there is increasing demand for breeding males of this breed in adjacent areas for up gradation of local Flocks.</p>
            <p>For conservation of this breed, Corporation submitted a breed conservation proposal to Government of India & GOI have sanctioned Rs. 64.50 lakhs during 2005-2006 Under this Scheme, the breeding programme has started by purchasing 500 Madgyal ewes & 20 rams at Ranjani, Dist. Sangali farm. The rams thus produced are distributed to farmers for breed improvement.  </p>
            <p>The fund of Rs. 10.00 lakh have been released to the Corporation during March 2010 for continuation of the scheme. From these funds the works of purchase of Madgyal sheep and rams, strengthening of irrigation facilities for increased fodder production have been completed at Ranjani, Dist. Sangali farm</p>
            <hr />
            <h5>4.	Establishment of small ruminant marketyards under R.K.V.Y.</h5>
            <p>In Maharashtra, there are no exclusive sheep & goat markets. They are sold at same place, where other animals are being sold. These markets are still underdeveloped and lack required facilities such as Ramp for loading & unloading; shelter for livestock; drinking water; facilities for sale /purchase of feed & fodder; Veterinary Dispensary; office for sheep & goat insurance, weighing machines etc. Therefore these markets need to be strengthened. Corporation has, therefore, proposed to establish 10 small ruminant market yards at the APMC markets where the trade of small ruminants is relatively high. Government has released Rs. 375.00 lakhs in the year 2010-11for establishment of 5 market yards in the state. During year 2011-12 Rs. 375.00 lakh will be release to the Corporation. The scheme is being implemented in 10 following APMCs in the State.</p>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Name of Agriculture Produce Market Committee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Jat,  District- Sangali</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Lonand,  District- Satara</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Sangola,  District- Solapur</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Khed,  District- Pune</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Chalisgaon,  District- Jalgaon</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>Lakhani,  District- Bhandara</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>Tuljapur,  District- Osmanabad</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>Daryapur,  District- Amaravati</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>Kalamnuri,  District- Hingoli</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>Kalamb, District- Osmanabad</td>
                    </tr>
                </tbody>
            </table>
            <p>The work as above APMCs completed except Kalamb, Dist. Osmanabad.</p>
            <hr />
            <h5>5.	Production of improved breeds of sheep & goats through the strengthening of  Sheep & Goat Development Farms under R.K.V.Y.</h5>
            <p>For production of superior quality breeds of sheep & goat during 2011-12 to 2012-13  Rs. 7.33 Crore have been realesed to the Corporation for strengthening of 3 farms,  viz. Tirth, dist. Osmanabad, Ranjani dist. Sangali & Pohara, dist. Amravati of Corporation. The main objectives of the scheme are to provide suitable infrastructure facilities and to increase the foundation stock of existing sheep & goat breeding farms for production of more numbers of improved rams & bucks through selective breeding amongst Deccani, Madgyal sheep  & Osmanabadi  goats for supply in the rural flocks under up gradation programme. The main components of the scheme are construction of new sheds, purchase of foundation stock, Creation of irrigation facilities by construction of wells/bore wells, pipelines, Conservation of water by using sprinkler and drip irrigation, Conservation of green fodder in scarcity period by means of construction silo pits and land development.</p>
            <hr />
            <h5>6. Integrated Wool Improvement Programme</h5>
            <p>
                Under this scheme the main components involved are health care, breed improvement, Product Development, Marketing Assistance and training to shepherds etc. 1.00 lakh sheep in the districts of Sangali & Solapur are adopted under the programme and they are being provided with all kinds of health services (Deworming, Vaccination etc.).
                During current financial year Rs. 71.00 lakh has been sanctioned and under this scheme 2.00 lakh deccani sheep has registered and we are provided health care and quality rams for genetic improvement of local flocks
            </p>
            <hr />
            <h5>
                7.	Organization of Woolen Expo - Pune
            </h5>
            <p>Corporation has been organizing Woolen Expo at Pune from 2004 to 2013 with the financial assistance from Central Wool Development Board, Jodhpur. The main objective of the Woolen Expo is to promote the sale of woolen goods and create the market for woolen artisans, to increase awareness in favor of local woolen products, to expose weavers/manufacturers to the new woolen markets, to launch new wool products / designs for trial & promotion and to ensure better price for the products made in the rural area. Artisans from different area of India, viz., Gujarat, Rajasthan, Karnataka, Maharashtra, Himachal Pradesh participate in the expo.</p>
            <hr />
            <h5>8.	"Shepherds" Insurance Scheme</h5>
            <p>
                Central Wool Development Board has introduced the Shepherds’ Insurance Scheme in Maharashtra state with the help of Life Insurance Corporation of India with the aim to provide financial protection to the shepherd community.
                Annual Premium is Rs. 330/- for every member.
                Out of the annual premium of Rs. 330/--
            </p>
            <p>a)	Each member shall contribute a sum of Rs. 80/- per annum as premium</p>
            <p>b)	The Central Wool Development Board will contribute Rs. 150/- per annum per member</p>
            <p>
                c)	LIC of India will contribute Rs. 100/- per annum per member
                During the year 13-14 total 2504 shepherds are cover under this scheme and total
                2355 beneficiaries has awarded scholarship under this scheme.
            </p>
        </div>
    </section>
</div>

