
@{
    ViewBag.Title = "In Progress Schemes";
}

<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }

    .btn-group1 button {
        background: #8ac8f6;
        border: 1px solid #8ac8f6;
        margin-bottom: 10px;
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        width: 100%; /* Set a width if needed */
        display: block; /* Make the buttons appear below each other */
    }
</style>

<div class="container body-content" id="#maincontent" style="margin-top:20px; margin-bottom: 150px;">
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h3 class="panel-title">In Progress Schemes</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="heading-green">
                    <h4 class="text-center">Schemes Under Implementation by Corporation</h4>
                </div>
                <hr />
                <div class="btn-group1">
                    <button data-toggle="collapse" class="btn btn-primary" data-target="#demo1">
                        <h5 style="font-weight:bold;text-align:left">1.	Distribution of 40+2 Goat Unit under R.K.V.Y.</h5>
                    </button>
                    <div id="demo1" class="collapse">

                        <p>To provide self employment and popularized stall-fed goat rearing in the State the Scheme Distribution of 40+2 goat under R.K.V.Y. is being implemented by Corporation. Under this scheme Rs. 996.50 Lakhs  released during 2014-2015 to 2015-2016 for the Distribution of goat unit on 50% Subsidy. It is target to distribute 660 Goat unit on 50% subsidy. Up-till now corporation has distributed 472 unit and remaining distribution is under process.    </p>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary" data-target="#demo2">
                        <h5 style="font-weight:bold;text-align:left">2.	Feed &fodder development at farms of corporation under R.K.V.Y.</h5>
                    </button>
                    <div id="demo2" class="collapse">
                        <p>To strengthen  basic irrigation facilities and to produce  fodder at sheep & goat development farm  the fodder cultivation program is implementing on 513 hectare land of 10 sheep and goat  development farm  viz. Padegaon Dist Aurangabad, Bilakhed Dist-Jalgaon, Ambejogai Dist-Beed, Dahiwadi Dist- Satara, Ranjani Dist- Sangli, Mukhed Dist- Nanded, Pohara Dist-Amravati, Mahud Dist –Solapur, Bondri Dist- Nagpur During 2015-2016 the Goverment has released  Rs 334.94 Lakhs and Scheme implement at farms.</p>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary" data-target="#demo3">
                        <h5 style="font-weight:bold;text-align:left">3.	Sheep and Wool Improvement scheme Satara, Aurangabad, Jalgaon, Nanded, Beed and Parbhani Districts. (Central Wool Development Board, Jodhpur)</h5>
                    </button>
                    <div id="demo3" class="collapse">
                        <p>Under the scheme 2.00 lakh sheep of  2191 shepherds of 292 villages of Satara, Aurangabad, Jalgaon, Nanded, Beed and Parbhani Districts. has been adapted by the  corporation for the period 2013-2014 to 2016-2017 with the financial assistance  of  CWDB Jodhpur the main object of the scheme is to boost up the production of wool to reduce morbidity  and mortality by providing health care services  to sheep for improvement of  socio economic status of sheep breeders. The main components of the scheme are health care and breed improvement under this component  the following services is providing  to the sheep adapted under scheme-</p>
                        <p>1. Health care :- Deworming, Detecking, Vaccination and Treatment etc. </p>
                        <p>
                            2. Breed improvement :- 500 deccani rams has been distributed for up gradation
                            of  local flocks of sheep
                        </p>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary" data-target="#demo4">
                        <h5 style="font-weight:bold;text-align:left">4.	Sheep and Wool  Improvement scheme Pune, Ahmednagar, Dhule, Nashik, Solapur and  Sangli  Districts. (Central Wool Development Board, Jodhpur)</h5>
                    </button>
                    <div id="demo4" class="collapse">
                        <p>Under the scheme 3.00 sheep have  been adapted  by the corporation  in pune Ahmednagar, Dhule, Nashik, Solapur, and  Sangali Districts of the state for the year 2016-2017  with the financial assistance  of  3311 shepherds CWDB Jodhpur. The main object the main object of the scheme is to boost up the production of wool to reduce morbidity  and mortality by providing health care services  to sheep for improvement of  socio economic status of sheep breeders. The  components of scheme are to provide health care breed improvement and training to shepherds.</p>
                        <hr />
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary" data-target="#demo5">
                        <h5 style="font-weight:bold;text-align:left">  5.	 Raje Yashavantrao Holakar Mahamesh Yojana</h5>
                    </button>
                    <div id="demo5" class="collapse">
                        <p>To provide the sheep shearing occupation in the state, the Govt. Of Maharastra has sanction a new scheme Raje Yashavantrao  Holakar Mahamesh Yojana during 2017-2018. This scheme has been applicable only Dhangar community (N.T.C) under this programme it is a target to provide 20 ewes + 2 ram under stall-fed and migratory type 75% subsidy. Also to provide feed, feed factory and other on subsidiary sates under this scheme all the beneficiaries are selected by under this scheme during 2017-2018 and 2018-2019 the govt. has released Rs. 1164.80 lakhs for the improvement of the scheme. </p>
                        <p>During 2017-2018 and 2018-2019 the component has supplied 20 Ewes (+) 2 Rams -----------unit on migratory and ------------- unit on stall-fed.  The scheme is continue during 2019-20.</p>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary" data-target="#demo6">
                        <h5 style="font-weight:bold;text-align:left">6.	Establishment of Ram/Buck rearing centre at farms under RKVY </h5>
                    </button>
                    <div id="demo6" class="collapse">
                        <p>Rearing of true to type male kids for up gradation of local breeds and there by  increase the income of shepherds 2 farmers, The Govt. Has sanction Rs. 1.01 Crore during 2017-18, during 2017-18 and 2018-19 actually Rs. 83.39 lakh selected for the implantation of the scheme.</p>
                        <p>Under this program 50 male kids were purchased at the age of 3 to 4 months and kept at farms for one year and then supplied for breeding purpose. The component has established 10 Ram/Buck rearing centre at our 10 sheep 2 breeding farms and fund mostly utilised for purchase of 50 male kids, Feed, Fodder, Medicine and other.    </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#schemes').addClass('active');
        //for demo
        //$('#demo').addClass('active');
        //for sale
        //$('#sale').addClass('active');
    });
</script>