
@{
    ViewBag.Title = "In Progress Schemes";
}

<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }

    .btn-group1 button {
        background: #8ac8f6;
        border: 1px solid #8ac8f6;
        margin-bottom: 10px;
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        width: 100%; /* Set a width if needed */
        display: block; /* Make the buttons appear below each other */
    }
</style>

<div class="container body-content" id="#maincontent" style="margin-top:20px; margin-bottom: 150px;">
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h3 class="panel-title">In Progress Schemes</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="heading-green">
                    <h4 class="text-center">Scheme Implementing by Punyashlok Ahilyadevi Maharashtra Sheep and Goat Development Corporation</h4>
                </div>
                <hr />
                <div class="btn-group1">
                    <button data-toggle="collapse" class="btn btn-primary" data-target="#demo1">
                        <h5 style="font-weight:bold;text-align:left">1.	Raje Yashvantrav Holkar Mahamesh Yojana </h5>
                    </button>
                    <div id="demo1" class="collapse">

                        <p>To boost up sheep rearing business in the state, the Corporation is implementing a scheme Raje Yashvantrav Holkar Mahamesh Yojana during 2017-2018 for Dhangar community in the State. Under this scheme, it is to provide 20+2  sheep unit for sheep rearing under stall-fed and migratory sheep rearing on 75% subsidy. Rather than this, it is also to provide breedable rams, basic facilities, animal feed on 75 % subsidy and silage bailer and feed manufacturing unit on 50% subsidy. Under this scheme during 2017-2018 and 2018-2019 the Govt. has released Rs. 1164.80 lakhs and Rs. 3900.00 lakh during year 2019-20 for implementation of scheme.     </p>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary" data-target="#demo2">
                        <h5 style="font-weight:bold;text-align:left">2.	Sheep and Wool Improvement Scheme</h5>
                    </button>
                    <div id="demo2" class="collapse">
                        <p>Sheep and Wool Improvement Scheme is implementing by Corporation with the financial assistance of Central Wool Development Board, Jodhpur, Ministry of Textile, Govt. of India. Under this scheme 3 lakh sheep of 3311 shepherds have been registered in Pune Ahmednagar, Dhule, Nashik, Solapur, and Sangali districts of the State. The main object of the scheme is to reduce morbidity and mortality by providing health care facilities, breed improvement by providing breedable rams to sheep breeders for improvement of socio economic status of sheep breeders.</p>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary" data-target="#demo3">
                        <h5 style="font-weight:bold;text-align:left">3.	Sheep Breeders  Insurance Scheme</h5>
                    </button>
                    <div id="demo3" class="collapse">
                        <p>
                            The Ministry of Textile has approved the Sheep Breeders Insurance Scheme (Bhed Palak Bima Yojana) under Social Security Scheme. Life Insurance Corporation (LIC) is a implementing agency of this insurance scheme under Social Security Pradhan Mantri Jivan Jyoti Bima Yojana (SSPMJJBY) for the sheep breeders in the age group of 18 to 50 years. The total annual premium is Rs. 342/-, out of this Rs. 80/- is a contribution of sheep breeders. This Corporation is a nodal agency for implementation of this scheme, and up till now the Corporation has insured total 3110 sheep breeders under this scheme.
                        </p>
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary" data-target="#demo4">
                        <h5 style="font-weight:bold;text-align:left">4.	Strengthening of  Sheep & Goat Development Farms under RKVY </h5>
                    </button>
                    <div id="demo4" class="collapse">
                        <p>The Govt. has sanctioned Rs. 3.74 crore for the strengthening of Sheep & Goat Development Farms, Padegaon (Aurangabad), Bilakhed (Jalgaon), Mahud (Solapur), Dahiwadi (Satara) and Ambejogai (Beed). Under this scheme increase foundation stock (200 Osmanabadi Does (+) 8 Buck), Construction of Shed, Irrigation facilities, Silage and Fancing etc. facilities are made available at above farms.</p>
                        <hr />
                    </div>
                    <button data-toggle="collapse" class="btn btn-primary" data-target="#demo5">
                        <h5 style="font-weight:bold;text-align:left">5.	Establishment of ram/buck rearing centres at farms under RKVY </h5>
                    </button>
                    <div id="demo5" class="collapse">
                        <p>
                            Rearing of true to type male kids for up gradation of local breeds, the Govt. has sanctioned Rs. 1.01 crore during 2017-18, during 2017-18 and 2018-19 for establishment of ram/buck rearing centres at all 10 farms of Corporation. Under this program, it is proposed to maintain 50 male kids up to the breeding age at this centre and then supply to sheep and goat farmers for breed improvement.

                        </p>
                    </div>
                

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#schemes').addClass('active');
        //for demo
        //$('#demo').addClass('active');
        //for sale
        //$('#sale').addClass('active');
    });
</script>