
@{
    ViewBag.Title = "Ambajogai";
}
<style>
    .div-header {
        text-align: center;
        font-size: 35px;
        color: #fff;
        font-weight: 700;
        /*height:40px;*/
        background: #65bff3;
        font-variant-caps: all-petite-caps;
    }
</style>
<div class="container  body-content" id="#maincontent">
    <div class="div-header">Ambajogai</div>
    <section>
        <div class="panel panel-info">
            <div class="panel-heading text-center"><h4>Farm Information</h4></div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Description</th>
                            <th class="text-center">Details</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>Name of Farm</td>
                            <td>Punyashlok Ahilyadevi Sheep & Goat Development Farm</td>
                        </tr>
                        <tr>
                            <td>Farm Address</td>
                            <td>Ambejogai, Dist: Beed</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>02446-247239</td>
                        </tr>
                        <tr>
                            <td>Email ID</td>
                            <td>sgf.ambejogai@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Name of Farm Manager</td>
                            <td>Dr. Rahim Shaikh</td>
                        </tr>
                        <tr>
                            <td>Mobile Number</td>
                            <td>+91-8975364673</td>
                        </tr>
                        <tr>
                            <td>Total Land (hectare)</td>
                            <td>46.47</td>
                        </tr>
                        <tr>
                            <td>Irrigation Land (hectare)</td>
                            <td>4.57</td>
                        </tr>
                        <tr>
                            <td>Non – Irrigation Land (hectare)</td>
                            <td>9.59</td>
                        </tr>
                        <tr>
                            <td>Land Under Building, Roads, Percolation Tanks & Forestation (hectare)</td>
                            <td>14.30</td>
                        </tr>
                        <tr>
                            <td>Area under Grazing Pasture (hectare)</td>
                            <td>18.01</td>
                        </tr>

                    </tbody>
                </table>
                <hr />
                <h4 class="text-center text-info">Livestock Details Update Till 31st March 2019</h4>
                <table class="table table-bordered table-responsive table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Breed</th>
                            <th class="text-center">Male</th>
                            <th class="text-center">Female</th>
                            <th class="text-center">Male Kids</th>
                            <th class="text-center">Female Kids</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Osmanabadi Goat</td>
                            <td>55</td>
                            <td>190</td>
                            <td>19</td>
                            <td>27</td>
                            <td>291</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <h4 class="text-center text-info">Facilities Available</h4>
                <table class="table table-bordered table-responsive table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Facility</th>
                            <th class="text-center">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Supply of Bucks for Breeding</td>
                            <td class="text-left">Osmanabadi Goat breed is reared at this farm for breeding purpose. The farm produced superior quality bucks are reared up to attain reproductive age and then after the bucks are distributed to farmers for breeding of their ND livestock.</td>
                        </tr>
                        <tr>
                            <td>Sheep and Goat Farming Training</td>
                            <td class="text-left">
                                Sheep & Goat Management Training Program is conducted at Sheep & Goat Development Farm in every month.
                                Fees: Rs. 500/- per trainee.
                                Duration: 3 days.
                            </td>
                        </tr>
                        <tr>
                            <td>Purchase of Wool</td>
                            <td class="text-left">Raw wool is purchased from shepherds at remunerative price and utilizes this wool for manufacturing of woollen products.</td>
                        </tr>
                        <tr>
                            <td>Production & Supply of Fodder Seed and Stumps of Perennial Grasses</td>
                            <td class="text-left">The Production and supply of fodder seeds and perennial fodder grasses by cultivating improved variety of fodder crops at the farm.</td>
                        </tr>
                        <tr>
                            <td>Extension Activity</td>
                            <td class="text-left">Technical and scientific information of sheep and goat farming is providing to new entrepreneur by actively participating in agriculture/ livestock exhibition/fair/expo/ camps etc.</td>
                        </tr>
                        <tr>
                            <td>Sheep and Goat Unit Distribution</td>
                            <td class="text-left">Under various Government schemes, the Sheep & Goat unit is distributed to the farmers.</td>
                        </tr>
                        <tr>
                            <td>Demonstration and production of Azola</td>
                            <td class="text-left">At this farm Azola Cultivation unit has been established for demonstration to the farmers.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
