@{
    ViewBag.Title = "Contact";
}

<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h3 class="panel-title">Contact Us</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="heading-green">
                    <h4 class="text-center">Head Office</h4>
                </div>
                <table class="table table-bordered table-responsive table-striped">
                    <tbody>
                        <tr>
                            <td>Address</td>
                            <td>Mendhi Farm, Gokhalenagar, Pune-411016</td>
                        </tr>
                        <tr>
                            <td>Telephone</td>
                            <td>020-25657112</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>mdsagpune@gmail.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr />
            <div class="row">
                <div class="heading">
                    <h4 class="text-center"> Farms and Address</h4></div>
                    <table class="table table-bordered table-responsive table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Sr. No.</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Address</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Phone No.</th>
                                <th class="text-center">Direction</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td>1.</td>
                                <td class="text-left">Ranjani</td>
                                <td class="text-left">Ranjani,Ta. Kavthemahankal, Dist. Sangali</td>
                                <td class="text-left">sgf.ranjani@gmail.com</td>
                                <td class="text-left">02341/244222</td>
                                <td>Direction</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td class="text-left">Mahud</td>
                                <td class="text-left">Mahud,Ta.Sangola, Dist. Solapur</td>
                                <td class="text-left">sgf.mahud@gmail.com</td>
                                <td class="text-left">9545467589</td>
                                <td>Direction</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td class="text-left">Tirth</td>
                                <td class="text-left">Tirth,Ta.Tulajapur Dist. Osmanabad</td>
                                <td class="text-left">sgf.tirth@gmail.com</td>
                                <td class="text-left">02471/259066</td>
                                <td>Direction</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td class="text-left">Dahiwadi</td>
                                <td class="text-left">Dahiwadi ,Ta.Man,Dist.Satara</td>
                                <td class="text-left">sgf.dahiwadi@gmail.com</td>
                                <td class="text-left">9404296508</td>
                                <td>Direction</td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td class="text-left">Bilakhed</td>
                                <td class="text-left">Bilakhed,Ta.Chalisgaon,Dist. Jalgaon</td>
                                <td class="text-left">sgf.bilakhed@gmail.com</td>
                                <td class="text-left">02589/222457</td>
                                <td>Direction</td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td class="text-left">Padegaon</td>
                                <td class="text-left">Padegaon Ta.Aurangabad,Dist. Aurangabad</td>
                                <td class="text-left">sgf.padegaon@gmail.com</td>
                                <td class="text-left">0240/2370449</td>
                                <td>Direction</td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td class="text-left">Mukhed</td>
                                <td class="text-left">Mukhed,Ta. Mukhed,Dist.Nanded</td>
                                <td class="text-left">sgf.mukhed@gmail.com</td>
                                <td class="text-left">9405494770</td>
                                <td>Direction</td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td class="text-left">Ambajogai</td>
                                <td class="text-left">Ambajogai,Ta. Ambajogai,Dist.Beed</td>
                                <td class="text-left">sgf.ambajogai@gmail.com</td>
                                <td class="text-left">02446/247339</td>
                                <td>Direction</td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td class="text-left">Pohara</td>
                                <td class="text-left">Pohara,Ta.Amravati, Dist. Amravati</td>
                                <td class="text-left">sgf.pohara@gmail.com</td>
                                <td class="text-left">9766577809</td>
                                <td>Direction</td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td class="text-left">Bondri</td>
                                <td class="text-left">Bondri,Ta.Ramtek, Dist.Nagpur</td>
                                <td class="text-left">sgf.bondri@gmail.com</td>
                                <td class="text-left">9767018260</td>
                                <td>Direction</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

