
@{
    ViewBag.Title = "Disclaimer";
}

<div class="container body-content" id="#maincontent" style="margin-top:20px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Disclaimer for www.mahamesh.co.in</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <p>If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at support@mahamesh.co.in</p>

                <div class="panel-heading panel-primary" style="background:rgba(0,0,0,.3);border-color:transparent;text-align:center;font-weight:800">
                    Disclaimers for Punyashloka Ahilyadevi Maharashtra Mendhi Va Sheli Vikas Mahamandal Ltd Pune
                </div>

                <p>All the information on this website - www.mahamesh.co.in - is published in good faith and for general information purpose only. Punyashloka Ahilyadevi Maharashtra Mendhi Va Sheli Vikas Mahamandal Ltd Pune does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Punyashloka Ahilyadevi Maharashtra Mendhi Va Sheli Vikas Mahamandal Ltd Pune), is strictly at your own risk. Punyashloka Ahilyadevi Maharashtra Mendhi Va Sheli Vikas Mahamandal Ltd Pune will not be liable for any losses and/or damages in connection with the use of our website. Our Disclaimer was generated with the help of the <a href="https://www.disclaimergenerator.net/">Disclaimer Generator</a> and the <a href="https://www.termsandcondiitionssample.com">Terms and Conditions Template</a>.</p>

                <p>From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</p>

                <p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.</p>

                <div class="panel-heading panel-primary" style="background:rgba(0,0,0,.3);border-color:transparent;text-align:center;font-weight:800">
                    Consent
                </div>

                <p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>

                <div class="panel-heading panel-primary" style="background:rgba(0,0,0,.3);border-color:transparent;text-align:center;font-weight:800">
                    Update</div>

                    <p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
                </div>
            </div>
    </div>
</div>

