
@{
    ViewBag.Title = "History";
}

<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }

    
    
</style>

<div class="container body-content secParagraph" id="#maincontent">
    <section >
        <h4 class="text-center text-info" style="font-weight:600">History</h4>
        <div class="row col-lg-12">
            <p style="text-align:justify">
                Great Mahatma Gandhi honoured 'Goat as poor mans Cow' knowing its importance in upliftment of socioeconomic status of poor / marginal farmers. Sheep and Goat were the first food producing animals to be domesticated around 8000 BC in southeast Asia. Sheep and Goat are reared for meat, milk, hide, skin, wool, hairs and manure production. Sheep and Goat rearing is mainly concentrated in dry and scarcity areas.
            </p><p style="text-align:justify">
                Breed of sheep in Maharashtra is known as 'Deshi' or 'Deccani'. This breed is not quite pure one. The yield of wool obtained from these sheep is not only low in quality but also of inferior quality. This wool is therefore used mainly for the production of country blankets. The sheep on Maharashtra are therefore reared mainly for meat and manure. Apart from wool and meat sheep are valued for their manure, some income also comes from sheep hairs. Inspire of these advantages and facts the status of shepherd community in the state has not appreciably improved. The nomadic and unstable life of breeders, their poor land holdings and financial positions, their illiteracy and ignorance about the improved techniques of breeding, feeding and management, wool harvesting and disease control measures are factors responsible for the backwardness of shepherd community in the state. To ameliorate the conditions of shepherd community in the state it was felt necessary to provide i. Better feeding facilities for the genetic improvement of the native sheep for higher production, both under stationary and nomadic type ii. Better feeding for both stationary and nomadic type iii. Intensive health cover and diagnostic facilities. iv. Services in wool harvesting and classification. v. Suitable marketing facilities know how about sheep rearing. In order to achieve this Government of Maharashtra vide its G.R. No. SDS 1078/143(1834)/5-ADF Dated 22 feb 1978 Established Sheep Development Corporation under the registration of companies act tone a state government private limited company the corporation was named as "Maharashtra Sheep Development Corporation" This Corporation will undertake activities in the field of better breeding facilities for the genetic improvement of native sheep, better feeding, provision of health cover and diagnostic facilities and services, harvesting and suitable marketing facilities for sheep products and to arrange for the dissemination of technical know how about sheep rearing amongst the shepherds.
            </p><p style="text-align:justify">

                In order to undertake all above activities sheep breeding farms of the state government and the wool utilization centre at Pune mentioned below transferred to the Maharashtra Sheep Development corporation with effect from 1November 1979, along with staff working on farms with their respective posts including post of 'Assistant Director of Animal Husbandry (Sheep)' in the office of the Director of Animal Husbandry vide G.R. No. SDS-2677/52683-9-ADF(342) Dated: 31 October 1979.
            </p>
            <p>
                1. Sheep Breeding Farm- Pune (Only the office of the Manager Sheep Breeding Station & its
                assets)
            </p>
            <p>
                2. Sheep Breeding Farm- Mahud (Dist. Solapur)
            </p>
            <p>
                3. Sheep Breeding Farm- Ranjani (Dist. Sangli)
            </p>
            <p>
                4. Sheep Breeding Farm- Dahiwadi (Dist. Satara)
            </p>
            <p>
                5. Sheep Breeding Farm- Padegaon (Dist. Aurangabad)
            </p>
            <p>
                6. Sheep Breeding Farm- Ambejogai (Dist. Beed)
            </p>
            <p>
                7. Sheep Breeding Farm- Tuljapur (Dist. Osmanabad)
            </p>
            <p>
                8. Sheep Breeding Farm- Mukhed (Dist. Nanded)
            </p>
            <p>
                9. Sheep Breeding Farm- Bilakhed (Dist. Jalgaon)
            </p>
            <p>
                10. Wool Utilization Centre- Pune.
            </p>
            <p>
                In order to enable the Maharashtra Mendhi Va Sheli Vikas Mahamandal Ltd. to promote activity of goat rearing in a big way Government vide resolution No. MSDC 1082/11698/386/ADF-5 Dated 7 August 1984 transferred Goat Breeding Farm, Pohara, Dist. Amravati with the Animal Husbandry Department transferred to the Mahamandal along with posts on farm with effect from 1 September 1984.
            </p>
            <p>
                The name of mahamandal has got revised in 1984 from Maharashtra Sheep Development Corporation to Maharashtra Mendhi Va Sheli Vikas Mahamandal and then in 2003 as Punyashloka Ahilyadevi Maharashtra Mendhi Va Sheli Vikas Mahamandal ltd. in the honour of great Punyashloka Ahilyadevi.
            </p>
        </div>
    </section>
</div>



