
@{
    ViewBag.Title = "Padegaon";
}

<style>
    .div-header {
        text-align: center;
        font-size: 32px;
        color: #fff;
        font-weight: 700;
        /*height:40px;*/
        background: #65bff3;
        font-variant-caps: all-petite-caps;
    }
</style>
<div class="container  body-content" id="#maincontent"  style="margin-bottom:10%">
    <div class="div-header">Padegaon</div>
    <section>
        <div class="panel panel-info">
            <div class="heading text-center"><h4>Farm Information</h4></div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Description</th>
                            <th class="text-center">Details</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>Name of Farm</td>
                            <td>Punyashlok Ahilyadevi Sheep & Goat Development Farm</td>
                        </tr>
                        <tr>
                            <td>Farm Address</td>
                            <td>Padegaon, Dist: Aurangabad</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>0240/2370449</td>
                        </tr>
                        <tr>
                            <td>Email ID</td>
                            <td>
                                sgf.padegaon@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <td>Name of Farm Manager</td>
                            <td>Dr. Gajanan Sangole</td>
                        </tr>
                        <tr>
                            <td>Mobile Number</td>
                            <td>+91-8007333227</td>
                        </tr>
                        <tr>
                            <td>Total Land (hectare)</td>
                            <td>97.27</td>
                        </tr>
                        <tr>
                            <td>Irrigation Land (hectare)</td>
                            <td>8.70</td>
                        </tr>
                        <tr>
                            <td>Non – Irrigation Land (hectare)</td>
                            <td>43.92</td>
                        </tr>
                        <tr>
                            <td>Land Under Building, Roads, Percolation Tanks & Forestation (hectare)</td>
                            <td>11.95</td>
                        </tr>
                        <tr>
                            <td>Area under Grazing Pasture (hectare)</td>
                            <td>32.70</td>
                        </tr>

                    </tbody>
                </table>
                <hr />
                <div class="heading">
                    <h4 class="text-center">Livestock Details Update Till 31st March 2019</h4>
                </div>
                <table class="table table-bordered table-responsive table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Breed</th>
                            <th class="text-center">Male</th>
                            <th class="text-center">Female</th>
                            <th class="text-center">Male Kids</th>
                            <th class="text-center">Female Kids</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Osmanabadi Goat</td>
                            <td>6</td>
                            <td>246</td>
                            <td>56</td>
                            <td>82</td>
                            <td>390</td>
                        </tr>
                        <tr>
                            <td>Sangamneri Goat</td>
                            <td>04</td>
                            <td>23</td>
                            <td>04</td>
                            <td>12</td>
                            <td>43</td>
                        </tr>
                        <tr>
                            <td>Deccani (Sangamneri) Sheep</td>
                            <td>08</td>
                            <td>174</td>
                            <td>44</td>
                            <td>51</td>
                            <td>277</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <div class="heading">
                    <h4 class="text-center">Facilities Available</h4>
                </div>
                <table class="table table-bordered table-responsive table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Facility</th>
                            <th class="text-center">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Supply of Rams and Bucks for Breeding </td>
                            <td class="text-left">Deccani (Sangamneri) sheep and Osmanabadi Goat breed are  reared at this farm for breeding purpose. The farm produced superior quality rams & bucks are reared up to attain reproductive age and then after the rams & bucks are distributed to farmers.</td>
                        </tr>
                        <tr>
                            <td>Sheep and Goat Farming Training</td>
                            <td class="text-left">
                                Sheep & Goat Management Training Program is conducted at Sheep & Goat Development Farm in every month.
                                Fees: Rs. 500/- per trainee.
                                Duration: 3 days.
                            </td>
                        </tr>
                        <tr>
                            <td>Machine Shearing Program</td>
                            <td class="text-left">
                                For improving the quality and quantity of wool,  the machine shearing facility is providing to the sheep breeders by charging nominal cost.
                            </td>
                        </tr>
                        <tr>
                            <td>Purchase of Wool</td>
                            <td class="text-left">Raw wool is purchased from shepherds at remunerative price and utilizes this wool for manufacturing of woollen products.</td>
                        </tr>
                        <tr>
                            <td>Production & Supply of Fodder Seed and Stumps of Perennial Grasses</td>
                            <td class="text-left">The Production and supply of fodder seeds and perennial fodder grasses by cultivating improved variety of fodder crops at the farm.</td>
                        </tr>
                        <tr>
                            <td>Extension Activity</td>
                            <td class="text-left">Technical and scientific information of sheep and goat farming is providing to new entrepreneur by actively participating in agriculture/ livestock exhibition/fair/expo/ camps etc.</td>
                        </tr>
                        <tr>
                            <td>Sheep and Goat Unit Distribution</td>
                            <td class="text-left">Under various Government schemes, the Sheep & Goat unit is distributed to the farmers.</td>
                        </tr>
                        <tr>
                            <td>Demonstration and production of Azola</td>
                            <td class="text-left">At this farm Azola Cultivation unit has been established for demonstration to the farmers.</td>
                        </tr>
                        <tr>
                            <td>Fodder Plant Nursery </td>
                            <td class="text-left">To make available fodder plants for plantation which is useful in sheep and goat, fodder plant nursery is developed at farm and the plants are available for sale. </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

