
@{
    ViewBag.Title = "Vision";
}

<div style="background:#52b2fa;height:35px;text-align:center;color:#fff;font-weight:bold;padding-top:1px;"><h5>Vision</h5></div>
<p style="text-align:justify">We are working for the welfare of the sheep and goat farming sector and want to consolidate the supply chain by providing wholesome knowledge of sheep and goat farming and marketing linkage. We have to create strong working condition and knowledge base for the sheep and goat farmers which have the potential to install economical viable sheep and goat units. We are also striving hard to bring small and marginal sheep and goat farmers into main stream of economical and social development. First hand information for every client to satisfy their queries is the main work and mission of sheep and Goat Gyan knowledge portal.</p>

