
@{
    ViewBag.Title = "Farm GeoData";
}


<link href="/Content/Varsity/ui.css" rel="stylesheet">
<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Farm Geo Data - Maps</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-blue">
                                    <i class="fa fa-file-pdf-o white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">
                                    <a target="_blank" href="~/Documents/FarmGeoData/ambejogai,beed.-Layout1.pdf">Ambejogai-Layout.pdf</a>
                                </h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-green">
                                    <i class="fa fa-file-pdf-o white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">  <a target="_blank" href="~/Documents/FarmGeoData/amravati-Layout1.pdf">Amravati-Layout.pdf</a></h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-orange">
                                    <i class="fa fa-file-pdf-o white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">  <a target="_blank" href="~/Documents/FarmGeoData/bilakhed,jalgaon-Layout1.pdf">Bilakhed-Layout.pdf</a></h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-purple">
                                    <i class="fa fa-file-pdf-o white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h6 class="title">
                                    <a target="_blank" href="~/Documents/FarmGeoData/mukhed,nanded-Layout1.pdf">Mukhed-Layout.pdf</a>
                                </h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-dark-50">
                                    <i class="fa fa-file-pdf-o white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap" style="padding-top:5px;">
                                <h6 class="title">  <a target="_blank" href="~/Documents/FarmGeoData/padegaon,aurangabad-Layout1.pdf">Padegaon-Layout.pdf</a></h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-grad-primary">
                                    <i class="fa fa-file-pdf-o white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap" style="padding-top:3px;">
                                <h6 class="title">  <a target="_blank" href="~/Documents/FarmGeoData/sangli-Layout1.pdf">Sangli-Layout.pdf</a></h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-orange">
                                    <i class="fa fa-file-pdf-o white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">
                                    <a target="_blank" href="~/Documents/FarmGeoData/satara-Layout1.pdf">Satara-Layout.pdf</a>
                                </h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-green">
                                    <i class="fa fa-file-pdf-o white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap" style="padding-top:3px;">
                                <h6 class="title">  <a target="_blank" href="~/Documents/FarmGeoData/solapur-Layout1.pdf">Solapur-Layout.pdf</a></h6>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <article class="box">
                        <figure class="itemside">
                            <div class="aside align-self-center">
                                <span class="icon-wrap icon-md round bg-primary">
                                    <i class="fa fa-file-pdf-o white"></i>
                                </span>
                            </div>
                            <figcaption class="text-wrap">
                                <h5 class="title">  <a target="_blank" href="~/Documents/FarmGeoData/tuljapur,osmanabad-Layout1.pdf">Tuljapur-Layout.pdf</a></h5>
                            </figcaption>
                        </figure> <!-- iconbox // -->
                    </article> <!-- panel-lg.// -->
                </div><!-- col // -->
            </div>
    
        </div>

    </div>
</div>
<script type="text/javascript" src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#farms').addClass('active');
        //for demo
        //$('#demo').addClass('active');
        //for sale
        //$('#sale').addClass('active');
    });
</script>
