
@{
    ViewBag.Title = "Bakari_id";
}

<h2>Bakari_id</h2>

<script src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#events').addClass('active');
        //for demo
        //$('#demo').addClass('active');
        //for sale
        //$('#sale').addClass('active');
    });
</script>