
@{
    ViewBag.Title = "Expo";
}


<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }
</style>

<div class="container body-content" id="#maincontent" style="margin-top:20px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Woolen Expo</h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <p class="text-justify">Corporation has been organizing Woolen Expo at Pune from 2004 with the financial assistance from Central Wool Development Board, Jodhpur. The main objective of the Woolen Expo is to promote the sale of woolen goods and create the market for woolen artisans, to increase awareness in favor of local woolen products, to expose weavers/manufacturers to the new woolen markets, to launch new wool products / designs for trial & promotion and to ensure better price for the products made in the rural area. Artisans from different area of India, viz., Gujarat, Rajasthan, Karnataka, Maharashtra, Himachal Pradesh participate in the expo. During the current year Woolen Expo 2013 is being organized at Pune in which total 50 agencies shall be participated from different states viz. Maharashtra, Karnataka, Himachal Pradesh, Jammu & Kashmir, Gujarat & Rajasthan. </p>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#events').addClass('active');
        //for demo
        //$('#demo').addClass('active');
        //for sale
        //$('#sale').addClass('active');
    });
</script>