
@{
    ViewBag.Title = "Index";
}

<div class="container body-content secParagraph" id="#maincontent">
    <section>
        <h4 class="text-center text-info" style="font-weight:600">Events</h4>
        <div class="row col-lg-12">
            <h5>Sheep & Goat rearing Training</h5>
            <p>To Create self amploment in rural area of the state. The Corporation is conductings 3 days Sheep & Goat Managment training at our 10 Sheep & Goat developments farms training fees Rs. 500/- at farms and Rs. 2000/- at pune.</p>
            <hr />
            <h5>Woolen Expo</h5>
            <p>Corporation has been organizing Woolen Expo at Pune from 2004 with the financial assistance from Central Wool Development Board, Jodhpur. The main objective of the Woolen Expo is to promote the sale of woolen goods and create the market for woolen artisans, to increase awareness in favor of local woolen products, to expose weavers/manufacturers to the new woolen markets, to launch new wool products / designs for trial & promotion and to ensure better price for the products made in the rural area. Artisans from different area of India, viz., Gujarat, Rajasthan, Karnataka, Maharashtra, Himachal Pradesh participate in the expo. During the current year Woolen Expo 2013 is being organized at Pune in which total 50 agencies shall be participated from different states viz. Maharashtra, Karnataka, Himachal Pradesh, Jammu & Kashmir, Gujarat & Rajasthan. </p>

            <hr />
        </div>
    </section>
</div>

<script type="text/javascript" src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#events').addClass('active');
        //for demo
        //$('#demo').addClass('active');
        //for sale
        //$('#sale').addClass('active');
    });
</script>