
@{
    ViewBag.Title = "Training";
}

<div class="container body-content secParagraph" id="#maincontent">
    <section>
        <h4 class="text-center text-info" style="font-weight:600">Events</h4>
        <div class="row col-lg-12">
            <h5>Sheep & Goat rearing Training</h5>
            <p>To Create self amploment in rural area of the state. The Corporation is conductings 3 days Sheep & Goat Managment training at our 10 Sheep & Goat developments farms training fees Rs. 500/- at farms and Rs. 2000/- at pune.</p>
            <hr />
    
        </div>
    </section>
</div>



